[2021-08-31 13:52] jack2992 opened #3 "[Question] Share screen with client-sdk-flutter"
Hi, master,
I am sharing the screen from using client-sdk-flutter. However, I can't see the screen share from the web client. Can you help me to find the solution to solve it?
Thanks !

[2021-09-01 05:22] davidzhao commented on #3
hi @jack2992 we don't currently support this yet. it's on our roadmap though!

[2021-09-01 07:57] jack2992 commented on #3
Thank you so much. Beside that i also have problem that when i share screen from web client. On mobile i  can't see the screen shared.

Thanks

[2021-09-03 04:35] hiroshihorie opened #5 "Web: Flickering with example app"
When connected to a room, video seems occasionally to flicker. Might be related to Flutter's state management.

[2021-09-03 04:40] hiroshihorie opened #6 "Exiting from Room often causes an exception"

[2021-09-03 09:53] hiroshihorie commented on #6
Should be fixed with f463ffd14ea7f41da9afdfe203ae9590c6a99c28 but needs more testing.

[2021-09-03 09:54] hiroshihorie commented on #5
Might be related to Flutter's state management.

[2021-09-03 09:55] hiroshihorie commented on #3
@jack2992 Hopefully will get this working soon!

[2021-09-03 09:59] jack2992 commented on #6
Nice, The same issue. I'well support you testing on this case

[2021-09-03 11:23] hiroshihorie commented on #6
@jack2992 fixing a whole bunch of issues!

[2021-09-04 08:09] hiroshihorie commented on #3
Implemented! Stay tuned for the SDK update! In about a week.

[2021-09-04 08:23] jack2992 commented on #3
Great! Thank bro @hiroshihorie

[2021-09-08 17:06] jack2992 commented on #6
hi @hiroshihorie
I have try commit [f463ffd](https://github.com/livekit/client-sdk-flutter/commit/f463ffd14ea7f41da9afdfe203ae9590c6a99c28) . Bug fixed

Thanks !

[2021-09-08 17:34] hiroshihorie commented on #6
@jack2992 Thanks for trying it out but there might will be more changes before the official release.

[2021-09-08 17:58] jack2992 commented on #6
Great, hope it work smoothly
Thank Bro @hiroshihorie

[2021-09-09 16:16] jack2992 opened #7 "[Bug] - When I start example app and ToggleCamera the app crash"
Hi master,
Please follow the following instructions before filing a bug:
Step reproduce:
1. Run app -> Join a room
2. Touch button (Toggle Camera)
3. Result App crash
Expected: Function change font or back of the camera
Note: I think the problem may be related to policy and permissions for android version 10 and above.

Here the stack trace:
`D/FlutterWebRTCPlugin(23368): CameraEventsHandler.onCam

[2021-09-10 05:27] hiroshihorie commented on #7
Will look into it! does the camera work before toggle?

[2021-09-10 06:09] jack2992 commented on #7
Hi @hiroshihorie
Yes, Camera work ok, before touch toggle button.

[2021-09-13 17:14] hiroshihorie commented on #7
Thanks for the info @jack2992 ! I'm still trying to figure it out, will let you know if it's fixed!

[2021-09-14 15:03] #6 closed

[2021-10-05 14:54] AlexanderKozhevin opened #16 "flutter pub get failed"
[code]

[2021-10-05 20:41] hiroshihorie commented on #16
Hi @AlexanderKozhevin, can I have your `flutter --version`

[2021-10-07 09:30] #16 closed

[2021-10-07 09:30] AlexanderKozhevin commented on #7
@jack2992 Do you use your own server or demo server?

[2021-10-07 09:31] AlexanderKozhevin opened #17 "Can I use demo server wss://demo.livekit.io?"
If so, where to find token?

[2021-10-07 10:16] hiroshihorie commented on #16
Hi @AlexanderKozhevin, It would be great to know how you solved this! 😁

[2021-10-07 18:44] davidzhao commented on #17
unfortunately not. that server is not for public use. Please set up your own, instructions [here](https://docs.livekit.io/guides/deploy/instance)

[2021-10-07 18:44] #17 closed, assigned to nobody

[2021-10-22 03:12] chenull opened #22 "running the provied example failed"
Hi, i was trying to run the provided example but failed. the error was:

[code]

when i saw the `Podfile`, the target in the provided example is
[code]
which seems right.

i've tried to do `pod cache clean --all` too.

any suggestion ?

I am using:
- ios simulator
- on Mac M1

[2021-11-05 17:54] Wallacy opened #26 "Full HD resoution"
Anyone was able to use this lib using more than 720p resolution? I tried in several ways to setup a 1080p video call but the system never able to use more than 1280x720@30.

Tested using Android, iPhone and Web.

[2021-11-08 01:11] The-Funk commented on #5
I have this same issue with a modified version of the sample code and I have determined that it comes from the listener function attached to the Room object. When the room object changes the _onRoomDidUpdate function fires and setState is called. This causes the page to rerender which is where your flickering is coming from.

I also believe that this is being caused (in my case) by audio changes.

[2021-11-08 12:30] alex-bluetrain commented on #5
I just answered this on slack, so I paste the comment here for reference:

The flickering happens when the RTCVideoRenderer is rebuilt on UI updates. To avoid that what I do is to set autoSubscribe to false in connect(), because autoSubscribed tracks don't trigger a "TrackSubscribedEvent".

Instead: after joining the room I iterate over each participant's video trackPublication and set the publica

[2021-11-08 22:03] ichiroadris opened #29 "Example failed to run on ios simulator"
Hi there, I am trying to run the example app from the latest main branch but there is an error while compiling for ios simulator. I search the github issues previously and found something almost similar reported before #22 .

The error received was:
[code]

I have run every command suggested by the error and the same error is still popping up.

Thank you :)

[2021-11-08 22:11] ichiroadris commented on #29
Seems like changing the dependency for WebRTC-SDK inside livekit_client podspec to the latest (92.4515.11) allow me to run it properly now.

[2021-11-08 22:11] #29 closed

[2021-11-09 05:00] The-Funk commented on #5
I can verify that alex-bluetrain's fix works and that this isn't so much an issue with the sdk itself as it is a state management issue. The flickering is caused by reinitializing the renderer at improper times.

[2021-11-09 05:54] hiroshihorie commented on #5
Thanks guys for the clues I will look into this, I think it is related to `flutter_webrtc` package that the SDK depends on.

[2021-11-09 05:55] hiroshihorie commented on #5
Thanks guys for the clues I will look into this, I think it is related to `flutter_webrtc` package that the SDK depends on.

[2021-11-09 07:48] hiroshihorie commented on #29
Hi @ichiroadris thanks for the report, future releases will have more loose constraints to the WebRTC-SDK spec so i think there won't be issues 😁

[2021-11-09 13:17] hiroshihorie commented on #5
I re-checked now and can't seem to reproduce it.
It might got fixed unintentionally when I implemented this PR https://github.com/livekit/client-sdk-flutter/commit/16910cae25ba63aaeb1cf42a33a3b5d67ca93f0c
VideoTrackRenderer doesn't use ChangeNotifier anymore, it uses Events.
This will be in a new release.

[2021-11-09 16:35] postacik commented on #5
I pulled the `main` branch and made a test with the example app on Chrome. The flickering I saw before seems to have gone.

[2021-11-10 07:07] #5 closed

[2021-11-10 16:41] hiroshihorie commented on #29
Hi @ichiroadris I just released 0.5.3 I think there won't be any more issues regarding the podspec. 🙂

[2021-11-11 13:58] ichiroadris commented on #29
Hi, great and thank you for the release!

[2021-11-13 09:32] alex-bluetrain opened #30 "muted mismatch between TrackPublication and its track"
When a TrackPublication is muted, I expect it's track to be muted as well

instead I get:
TrackPublication.muted  [true]
TrackPublication.track.muted [false]

if that's a normal behaviour, we would need a better documentation on the purpose of track's muted attribute.

tested on v.0.5.3

[2021-11-16 05:17] hiroshihorie commented on #30
Hi @alex-bluetrain , I am planning to match this behavior with our JS SDK 🙂

[2021-11-22 20:12] hiroshihorie commented on #30
Hi @alex-bluetrain, changes have been made in the master. Thanks for the report. 🙂

[2021-11-22 20:15] hiroshihorie commented on #3
Now screen share should work as expected with **Web** and **Android**, for iOS currently only in-app screen share is possible. (Apple's limitation that a Broadcast Upload Extension is required)

[2021-11-23 01:17] jack2992 commented on #3
Awesome! Thanks Bro support

[2021-11-24 16:55] #3 closed

[2021-11-24 16:56] #30 closed

[2021-11-26 06:03] #26 closed

[2021-11-29 22:49] alex-bluetrain opened #38 "publication.dimension not working"
when I print out the publication.dimension for every participant, it always returns width:0 height:0
I've tried it on web and android, both have the same behavior.

I think it used to work fine in previous versions.

testing it with:
livekit-server 0.14.2
client-sdk-flutter 0.5.4

[2021-11-30 10:28] mojtabaghiasi opened #40 "Example app crashes when simulcast is enable"
When running example app with enable simulcast, the app goes to room and when enabling video app crashes with this error log:

[code]

this is my flutter doctor log :

[code]

[2021-11-30 22:52] davidzhao opened #42 "capture resolution not respected on web"
Previously it wasn't working on Android (and maybe iOS as well). With [this change](https://github.com/livekit/client-sdk-flutter/commit/c50e0269cf380572846feb03d58e9e387464fff7), it fixed it for native, but broke for web.

We need to fix the root cause and ensure the consistency of it.

[2021-12-01 04:45] #38 closed

[2021-12-01 10:10] icxldd opened #44 "Unable to send data with Flutter SDK"
The sent data cannot be received
![image](https://user-images.githubusercontent.com/16592001/144214343-a1428b2f-5436-494f-a9b1-a2b1b95f25c1.png)
![image](https://user-images.githubusercontent.com/16592001/144214583-7a537777-a356-4614-968b-72ac1b64c013.png)

backend log
![image](https://user-images.githubusercontent.com/16592001/144214952-ad206f38-5544-4e0c-be79-bbbca5ef99e5.png)

[2021-12-02 00:27] hiroshihorie commented on #44
Hi @icxldd , I will take a look 🙂

[2021-12-02 09:33] icxldd commented on #44
Thank you. Currently, I am using the server SDK to send data, but the FLUTTER client SDK cannot send and receive data

[2021-12-02 09:38] davidliu commented on #40
What device is this running on, with which android version?

[2021-12-02 11:13] hiroshihorie commented on #44
@icxldd Does other SDK work ? and what platform of Flutter are you trying this on ?

[2021-12-03 03:09] icxldd commented on #44
Using only the Flutter SDK , I ran into this problem with Android client and the Web client

[2021-12-03 03:13] icxldd commented on #44
The flutter SDK receives data normally,  can't be send。Because the server SDK sends data that can be received

[2021-12-04 09:53] mojtabaghiasi commented on #40
@davidliu samsung galasy s20 plus , android 11

[2021-12-05 13:50] mojtabaghiasi commented on #40
@davidliu I found this issue is for the flutter_webrtc plugin. update the flutter_webrtc plugin to the latest version to fix this issue. flutter_webrtc: ^0.8.0

[2021-12-06 08:13] davidliu commented on #40
Ah, thanks for the tip about this! I had forgotten about this issue on the flutter_webrtc side. Will update the dependency shortly.

[2021-12-06 15:46] #40 closed

[2021-12-10 11:42] alex-bluetrain opened #52 "video mute/unmute no longer notifies remote participants"
On v0.5.4 when a participant mutes his video, the remote participants don't get the notification event for it.

the last time I've tested, it was working fine, that was on commit 79a2d2070260ea5bbe1d127bfd6d9f1899c1e982
it broke somewhere between that commit and 0.5.4

[2021-12-10 17:20] hiroshihorie commented on #52
Hi @alex-bluetrain ! Thanks for the report I will take a look 🙂

[2021-12-12 07:02] hiroshihorie commented on #52
Should be fixed in https://github.com/livekit/client-sdk-flutter/pull/54

[2021-12-12 23:10] davidzhao commented on #44
a user from community is also seeing this issue with Flutter. reopening.

[2021-12-14 17:11] alex-bluetrain opened #56 "exception thrown when muting tracks (chrome windows)"
I'm running the example from client-sdk-flutter and the mute (either video or audio) throws an exception:

here's the exception for video muting:
[code]

I'm testing it on latest main commit `3d5e8a7dd846672324ecb476fd854d6557a13379`

flutter doctor:
[code]

[2021-12-14 17:17] alex-bluetrain commented on #52
thanks @hiroshihorie but I couldn't test it, [it throws an exception](https://github.com/livekit/client-sdk-flutter/issues/56)
I've tested it with that commit that is supposed to fix it, and also the latest main commit.

[2021-12-15 07:17] hiroshihorie commented on #56
thanks @alex-bluetrain , this might be a flutter_webrtc issue I will look into today.

[2021-12-15 11:50] hiroshihorie commented on #56
Should be fixed in https://github.com/livekit/client-sdk-flutter/commit/b24fad0f3b6ae610ced1b44108d7fa32ca759dd9
Thanks for the report!

[2021-12-15 11:51] hiroshihorie commented on #52
There was a issue with web, thanks for the report !
https://github.com/livekit/client-sdk-flutter/commit/b24fad0f3b6ae610ced1b44108d7fa32ca759dd9

[2021-12-15 18:15] alex-bluetrain opened #57 "android: example app doesn't show remote participants video track"
when running the example app in android, the remote participants can be heard but not seen.
the remote video track appears as if it was muted.

even if the remote participant mutes/unmutes his video or switches camera, it's never seen on the android app.

btw, the chrome version of the app can see the android video stream without problem.

this was tested on
client-sdk-flutter commit 28e7091325f6a

[2021-12-15 18:18] alex-bluetrain commented on #56
thanks @hiroshihorie there are no more exceptions now.

[2021-12-15 18:32] alex-bluetrain commented on #52
thanks, now that the exception is fixed, I stepped into another issue: no remote video can be seen on android peers, I opened this issue for it https://github.com/livekit/client-sdk-flutter/issues/57

I can't seem to find a stable version of the client-sdk-flutter, the fixes I needed also includes lots of changes from the last few weeks that break the stability from previous versions. I hope we re

[2021-12-15 18:40] #56 closed

[2021-12-15 20:09] davidzhao commented on #52
Thanks Alex, apologies for the recent breakage. We are focused on ensuring stability this week and will cut the next build then.

closing this issue.

[2021-12-15 20:09] #52 closed

[2021-12-15 20:46] hiroshihorie commented on #57
I found why this is happening, thinking what's the best solution now.

[2021-12-16 00:20] davidliu commented on #42
Fixed by #48

[2021-12-16 00:20] #42 closed

[2021-12-18 04:02] #44 closed

[2021-12-18 07:54] #57 closed

[2021-12-20 01:15] alex-bluetrain opened #61 "iOS crash when rotating camera (inputvideo dimensions change while using h264 encoder)"
after running the client-sdk-flutter example, connecting to a room and rotating the device many, many times on different orientations, it randomly crashes with:

[code]
<details>
<summary>here's the full output when running it from xcode:</summary>

[code]

</details>

tested on client-sdk-flutter commit 435def8f2c78aefd3b0eae06c6922857e8ee48d2
compiled with Flutter stable 2.5.3, Xcode 12.5.1 on M

[2021-12-20 08:38] hiroshihorie commented on #61
Hi, thanks for the report. This is a known issue and it's taking time to debug.

[2021-12-21 20:10] alex-bluetrain commented on #61
@hiroshihorie thanks, is there any workaround for it? downgrading some dependency or something?

[2021-12-22 08:05] hiroshihorie commented on #61
The work around I found is to force to use `VP8` by editing the server's config.
[code]

[2021-12-24 16:54] alex-bluetrain opened #63 "random video freeze when participant disconnects"
## description

when a participant leaves the room, some of the remaining participant may randomly experience a freeze on the video track from a remote participant or from his own stream.

## how to reproduce

run the client-sdk-flutter/example on three devices (I tried iOS, Android and chrome)
join the same room, then make one participant leave. Then check if all video streams are updating on the

[2021-12-24 17:02] alex-bluetrain commented on #63
oh, I forgot to mention, sometimes I get the freeze without even leaving the room, but I couldn't find a repro for that scenario, it's probably the same bug.

[2021-12-24 17:07] alex-bluetrain commented on #61
@hiroshihorie I was experiencing it with
livekit-server c00d799ac6ebcfbdf32b48c886801f968a4e62c6
and livekit-server 0.15.1

I'll keep testing the workaround, but it seems to make android crash (I'll make a better report when I do more tests on it)

[2021-12-24 17:36] alex-bluetrain commented on #63
as @davidzhao  suggested, I tried disabling the optimizeVideo option on the room, and I could no longer reproduce the issue, it must be something related to it

[2021-12-24 20:07] alex-bluetrain commented on #63
I've been testing it for a while without the optimizeVideo, and it's much better, not only the freezing, but also there was some lag induced by the optimizeVideo feature, I had like 1 second video lag when it kicked in, and unnecesary low resolution switching, now the video plays smoothly with no delays and no freezes.

maybe that feature it should be marked as experimental and disabled by default

[2021-12-24 20:27] alex-bluetrain commented on #61
I just tested it a little more: the workaround is effective, so far it worked fine on chrome, windows, iOS and android builds.

[2021-12-26 09:04] hiroshihorie commented on #63
Thanks alex for the report, I'm looking into this now.

[2021-12-27 19:50] alex-bluetrain opened #64 "microphone not published on windows build"
When building or running on windows, the localAudioTrack (microphone) doesn't get published.

it doesn't show any errors or warnings, it just doesn't work.

I've tried with LocalAudioTrack.create() + localParticipant.publishAudioTrack()
and also with just the localParticipant.setMicrophoneEnabled(true);

same results.

to reproduce: just run or build the example provided in client-sdk-flutter and

[2021-12-28 02:27] hiroshihorie commented on #63
Hi alex this should be fixed in https://github.com/livekit/client-sdk-flutter/pull/65 but I will do more testing to make sure.

[2022-01-02 17:29] narenrana opened #66 "CocoaPods could not find compatible versions for pod "WebRTC-SDK":"
Getting Below error with livekit latest version 0.5.5 in IOS simulator

  [!] CocoaPods could not find compatible versions for pod "WebRTC-SDK":
  In Podfile:
    flutter_webrtc (from `.symlinks/plugins/flutter_webrtc/ios`) was resolved to 0.7.1, which depends on
      WebRTC-SDK (= 93.4577.01)

    livekit_client (from `.symlinks/plugins/livekit_client/ios`) was resolved to 0.5.5, which depends o

[2022-01-03 02:52] hiroshihorie commented on #66
Hi I will release a new version soon but can you try for now:

[code]

in your pubspec.yaml file.

[2022-01-08 11:57] donaldtrieuit commented on #40
I am using android 12 and  flutter_webrtc: ^0.8.0 but I still old issue that.
<img width="1211" alt="Screen Shot 2022-01-08 at 6 56 28 PM" src="https://user-images.githubusercontent.com/65456208/148643195-88592afa-66f4-49f3-ad40-5c46386a03db.png">

[2022-01-08 12:01] donaldtrieuit opened #69 "Issue with android 12"
This is old issue. It was fixed and closed. But it still error in android 12
<img width="1280" alt="Screen Shot 2022-01-08 at 6 59 13 PM" src="https://user-images.githubusercontent.com/65456208/148643349-20bdc4a4-0aa9-491d-bdbe-6153f4a0756d.png">

[2022-01-08 14:48] hiroshihorie commented on #63
This feature has been renamed to `adaptiveStream` in `RoomOptions` and now is **off** by default.
The logic has been re-written and after testing I believe it is much more stable compared to before so I will close this issue for now.

[2022-01-08 14:48] #63 closed

[2022-01-08 15:04] hiroshihorie commented on #66
Hi @narenrana I have just released `v0.5.6` and this issue should resolve, please upgrade your dependencies and try again. Please let me know if you have any more issues, I will close this for now.

[2022-01-08 15:04] #66 closed

[2022-01-08 15:10] hiroshihorie commented on #69
Hi @donaldtrieuit
Could you try configuring your livekit server to use `VP8` and observe if the issue persists ?
Edit your server's config file with the following entry :
[code]

[2022-01-27 06:27] khoonie opened #76 "Missing lines of code in 0.5.6"
I include in pubspec.yaml for version 0.5.6 and found that some lines of code were missing when compared to what is in GitHub. (as of Jan 27)

For example, in lib>src>participant>local.dart, these lines (line 326 onwars) are missing:

 void setTrackSubscriptionPermissions({
    required bool allParticipantsAllowed,
    List<ParticipantTrackPermission> trackPermissions = const [],
  }) =>
      roo

[2022-01-27 06:48] hiroshihorie commented on #76
Hello @khoonie !

The **Track Subscription Permissions API** has been implemented but not yet released. New version will released after further testing.

You can see the full differences with `0.5.6` and the `main` branch here https://github.com/livekit/client-sdk-flutter/compare/v0.5.6...main

You can either wait for the new release or use `main` directly if you would just like to try it now (but

[2022-02-09 18:12] wfinken opened #80 "VideoTrackRenderer wrapped in ClipRRect renders black corners"
Code to reproduce.

`ClipRRect(
              borderRadius: BorderRadius.circular(20),
              child: VideoTrackRenderer(p.videoTracks.first.track as VideoTrack, fit: RTCVideoViewObjectFit.RTCVideoViewObjectFitCover)));`

![image](https://user-images.githubusercontent.com/891256/153263589-f9b56651-51ab-401c-b809-b1f42513efa7.png)

[2022-02-10 05:51] #76 closed

[2022-02-10 14:21] hiroshihorie commented on #80
May I know which platform ?

[2022-02-10 14:28] wfinken commented on #80
Flutter for web. I haven’t tested other platforms yet.

On Thu, Feb 10, 2022 at 9:22 AM Hiroshi Horie ***@***.***>
wrote:

--
Thank you,
*William Finken*
***@***.***

[2022-02-10 14:32] hiroshihorie commented on #80
I've tested both Web and Android and it seems to work as expected:
[code]
<img width="513" alt="スクリーンショット 2022-02-10 21 30 41" src="https://user-images.githubusercontent.com/548776/153428553-0615b8bf-d91a-4985-aec7-8a8c82c12e81.png">

Can I see the parent widget also ?

But Flutter Web generally is a bit glitchy, what version of Flutter are you using ?

[2022-02-10 14:48] wfinken commented on #80
It may be because I have an image behind. I need the corners to be transparent.

[2022-02-10 16:14] wfinken commented on #80
Most of the code, including the parent.

`  Widget _getVideoRendererOrEmptyContainer(Participant? p) {
    if (p != null && p.videoTracks.firstOrNull?.track != null) {
      return ClipRRect(
          borderRadius: BorderRadius.circular(20),
          child: VideoTrackRenderer(p.videoTracks.first.track as VideoTrack, fit: RTCVideoViewObjectFit.RTCVideoViewObjectFitCover));
    }
    return Contai

[2022-02-10 16:31] wfinken commented on #80
This was my error. There was a container wrapping the element with a background color set. Closing issue.

[2022-02-10 16:31] #80 closed

[2022-02-18 02:27] ZestyXin opened #84 "flutter example can not work with livekit-cli"
## what happend

flutter example will broken when use livekit-cli publish a h264 file.

![2022-02-17-170406_1920x1080_scrot](https://user-images.githubusercontent.com/47104456/154605214-6373ed6e-9f60-4e14-8ac3-d0a7f770219c.png)

## what did i do

1. run livekit-server

[code]

2. run flutter example in chrome and connect to server

[code]

3. use livekit-cli to publish h264 file

[code]

h264 file

[2022-02-18 04:23] hiroshihorie commented on #84
Can I see the result of your `flutter --version` ?
Looks like it's Chrome crashing, can you check if Chrome is latest ?

[2022-02-18 05:23] ZestyXin commented on #84
hi @hiroshihorie, chrome version is `97.0.4692.71`.  i update it to `98.0.4758.102` now. but problem still exist.

flutter version
[code]

[2022-03-04 11:13] hiroshihorie commented on #69
Hello, the latest SDK is using WebRTC M97 now, can you check if issues have been resolved now?

[2022-03-04 11:14] hiroshihorie commented on #7
Hello, the latest SDK is using WebRTC M97 now, can you check if issues have been resolved now?

[2022-03-05 15:14] lowkeyboard opened #90 "App Crash on IOS"
The example flutter app works on Android but it crashes on IOS.  This is from debug terminal:
[code]

FlutterEventChannel setStreamHandler:
[code]

The breakpoint line in FlutterRTCPeerConnection
`    [eventChannel setStreamHandler:dataChannel];
`

Versions:
`Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel dev, 2.11.0-0.1.pre, on macOS 11.4 20F71 darwin-arm, locale

[2022-03-05 15:45] hiroshihorie commented on #90
Hi, could you try with the latest **stable** channel of Flutter ?

[2022-03-05 16:29] lowkeyboard commented on #90
Thank you so much! I totally forgot i was on dev channel, it worked upon switching to stable channel.

[2022-03-05 16:29] #90 closed

[2022-03-11 12:46] vmwsree commented on #69
My example app on android device is crashing with similar error
`ue, googHighpassFilter: false, googTypingNoiseDetection: true]
I/flutter ( 6182): 17:26:30: [RoomEvent] LocalTrackPublishedEvent(participant: LocalParticipant(sid: PA_Y89W8kj2Fnru, identity: Vivek), publication: LocalTrackPublication<LocalVideoTrack>(sid: TR_pNWoafZfuxTV, source: TrackSource.camera)), will notifyListeners()
W/System.

[2022-03-12 07:09] litzbalane2017 opened #92 "Execution failed for task ':flutter_webrtc:compileReleaseJavaWithJavac'."
Good Day.

I tried running the plugin from a fresh install of latest dev channel for livekit_client: ^0.5.7.

[code]

Flutter Doctor
[code]

[2022-03-12 08:23] hiroshihorie commented on #92
Hello, it appears to me that you need to accept Android licenses.

[2022-03-12 08:53] litzbalane2017 commented on #92
Its the same even after accepting android licenses.

[code]

Doctor summary (to see all details, run flutter doctor -v):
[code]
I also have the following, since most updated flutter version will require SdkVersion of 31.

compileSdkVersion 31
minSdkVersion 21
argetSdkVersion 31

[2022-03-12 09:17] hiroshihorie commented on #92
Can I see the full compiler logs when you start compiling?

[2022-03-12 09:45] litzbalane2017 commented on #92
Its still the same with latest stable channel. Seems to be related to flutter_webrtc. I ran this with no plugins from a fresh install. The same issue exists when I only use flutter_webrtc or livekit_client.

[code]
Here it is:

[code]

[2022-03-14 18:38] dadagov125 opened #93 "[IOS] Screen sharing"
why doesn't it support screen sharing on ios?
when will it be implemented?

[2022-03-15 06:36] davidzhao commented on #93
iOS requires a separate extension in order to support screen sharing. It is on our roadmap, but we don't have a clear release date for it yet.

[2022-03-17 04:17] litzbalane2017 commented on #92
Just need to install and use java11. In my case, I have to reinstall both android studio and intellij, because mine is not compatible anymore with java11.

[2022-03-17 04:17] #92 closed

[2022-03-17 08:42] hrxiang opened #94 "no speaker setup"
hello, i have a request for a speaker, but i can't find it in the sdk

[2022-03-17 16:13] davidzhao commented on #94
@hrxiang can you please be more descriptive with the issue you are facing?

feel free to reopen the issue with more information.

[2022-03-21 01:39] hrxiang commented on #94
HI！ Which method is used to replace the enableSpeakerphone method.

I set this up to no avail

[code]

[2022-03-22 08:26] BenCherif opened #95 "Enable/Disable microphone"
for the LocalParticipant can't switch the microphone state (Enable/Disable ) it .

[2022-03-24 17:55] msackman opened #96 "validate uri constructed wrongly"
In logs on my livekit server, I just saw a GET request to `/validate`. The request was made by the flutter client. The bug is that there is no such handler for `/validate`. If you look in the server at https://github.com/livekit/livekit-server/blob/61655c6ff05625ecd86557711cec38a4a9f7167d/pkg/service/server.go#L91 you see it's `/rtc/validate`.

Looking at [buildUri](https://github.com/livekit/clie

[2022-03-24 19:25] davidzhao commented on #96
@msackman thanks for noticing this! You are right this is a bug.. it should indeed be `/rtc/validate`. If you are up for submitting a PR for it, that'd be great.  No worries if you are busy, we can fix it too!

[2022-03-24 21:07] msackman commented on #96
Thanks for the quick reply. Although I've many years experience with Go, I'm very new to flutter+dart, so I suspect if I did a PR, there'd then be a lot of back and forth to get it up to idiomatic standards and style. So if it's ok with you, I think it would just be more efficient for everyone to leave it to people with more flutter/dart experience.

[2022-03-25 23:07] davidzhao commented on #96
No problem! we'll take care of it in the next release.

[2022-03-27 00:30] yingshaoxo opened #97 "Android audio do not support airpod (or any bluetooth(wireless) earphone/headset)?"

[2022-03-27 11:39] yingshaoxo commented on #97
https://github.com/twilio/audioswitch#bluetooth-support

This might help.

[2022-03-28 04:17] litzbalane2017 opened #98 "Is there a listener for video freezing?"
Good Day.

Thank you for this plugin, best webrtc implementation yet so far. However, I am running issues of client video freezes due to lag. Is there any listener for video freezing? I have already used RoomReconnectingEvent and RoomReconnectedEvent. I even tried using ParticipantConnectionQualityUpdatedEvent for both publisher and local participant to show loading, whenever connection drops to p

[2022-03-30 06:53] davidzhao commented on #98
You can listen to [StreamStateUpdated](https://docs.livekit.io/client-sdk-flutter/livekit_client/TrackStreamStateUpdatedEvent-class.html) to get notified if that participant's video track could not be shown due to congestion

[2022-03-30 10:15] BenCherif commented on #95
any updates ?

[2022-03-31 08:14] hrxiang opened #99 "Please adapt webrtc_interface-1.0.3"
non-abstract class 'RTCDataChannelNative' is missing implementations for these members:
 - RTCDataChannel.bufferedAmount
 - RTCDataChannel.id
Try to either
 - provide an implementation,
 - inherit an implementation from a superclass or mixin,
 - mark the class as abstract, or
 - provide a 'noSuchMethod' implementation.

class RTCDataChannelNative extends RTCDataChannel {
      ^^^^^^^^^^^^^^^^^^^^

[2022-03-31 11:37] jdde commented on #95
@BenCherif just a hint: use
LocalParticipant.isMicrophoneEnabled()
LocalParticipant.setMicrophoneEnabled(bool enabled)

Best regards!

[2022-03-31 11:40] jdde commented on #64
Hey @alex-bluetrain does the client-sdk-flutter already supports windows?
Based on the README.md in the master branch, it's not yet supported. (Work in progress)

[2022-03-31 12:00] BenCherif commented on #95
thanks @jdde  for your reply , i've already use it like that , the function setMicrophoneEnabled is executing but without result ,it doesn't disable or enable the state  so the isMicrophoneEnabled func is always true .
Kind regards

[2022-04-01 16:10] jdde commented on #95
@BenCherif on which platform are you testing it?

[2022-04-01 16:47] BenCherif commented on #95
for now on android 11

[2022-04-02 13:03] litzbalane2017 commented on #98
Thank you will look at it. However, is there any way we can listen to frames received and frames dropped? For example from logs I can see:

I/org.webrtc.Logging(31284): EglRenderer: Duration: 4003 ms. Frames received: 0. Dropped: 0. Rendered: 0. Render fps: .0. Average render time: NA. Average swapBuffer time: NA.

[2022-04-02 18:28] davidzhao commented on #98
Yes, if it's paused, then it is due to congestion. In that case client stats would not have received those frames.

You can configure this to behave differently on the server side: https://github.com/livekit/livekit-server/blob/master/config-sample.yaml#L52

[2022-04-02 18:28] #98 closed

[2022-04-05 11:35] acgacgacgacg opened #102 ""integrity check failed " only on flutter"
## Bug report

I deployed a k8s cluster, and the [example](https://example.livekit.io/) web application works fine without server error.

The connection test is passed.
<img width="446" alt="image" src="https://user-images.githubusercontent.com/10584507/161772203-15a1bd72-c47a-4e8a-8992-3ac7e18328ec.png">

However, when I used the flutter client sdk, the server gave the following error when connec

[2022-04-06 12:56] acgacgacgacg opened #103 "Can't successfully transfer audio when join an existing room for the first time after app open (iPhone)"
### Describe bug

When app is opened and the client joins an existing room for the first time,
the client can't transfer audio.
The track is published and the client **can receive** and hear other participants' tracks,
but the client's track **can't be received** by other participants and `localParticipant.isSpeaking` is always `false`.

And if the client disconnect and then connect again,
the abo

[2022-04-06 18:28] davidzhao commented on #103
Can you reproduce this on an actual iPhone device? iPhone simulator has some weird behaviors at times and we want to ensure that's not the issue.

[2022-04-06 18:37] hiroshihorie commented on #99
This should be fixed.

[2022-04-06 18:37] #99 closed

[2022-04-07 00:34] acgacgacgacg commented on #103
@davidzhao
Yes, it occurs on iphone device.
I'm trying Hiroshi's audio-fix solution as mentioned here
https://livekit-users.slack.com/archives/C01KVTJH6BX/p1649258806863449?thread_ts=1649249928.495409&cid=C01KVTJH6BX

[2022-04-07 07:40] davidzhao commented on #103
fixed in 0.5.9

[2022-04-07 07:40] #103 closed

[2022-04-07 12:33] davidliu commented on #95
@BenCherif tested on Android 11 using the example app, this seems to be working there. Can you try running the example app and see if the microphone icon properly changes according to microphone state?

[2022-04-07 16:19] hiroshihorie commented on #103
@acgacgacgacg Thanks for the report, let me know if you have any other issues.

[2022-04-07 17:37] BenCherif commented on #95
@davidliu  Thanks for your reply , i've test the example and it works so i miss something with my code , i will check it thanks for  ur valuable helping. Kind regards

[2022-04-07 17:37] #95 closed

[2022-04-08 05:38] #102 closed

[2022-04-13 12:59] #97 closed

[2022-04-21 15:06] davidliu commented on #69
Tested on Android 12, seems to be working fine. Can't tell with further logs, so closing this issue.

@vmwsree, your issue is different, but can't repro it. Open another issue if you're still encountering errors.

[2022-04-21 15:06] #69 closed

[2022-04-22 05:44] http600 opened #108 "Says could not publish video: LiveKit Exception TrackPublishException Failed to publish track"
#### problem
could not publish video: LiveKit Exception TrackPublishException Failed to publish track
#### version
1. livekit_client: 0.5.9
2. iOS 14.4.2
3. iPhone 12
4. it was NOT happening on iOS 12.5.5 of iPhone 6
#### log
`2022-04-22 13:33:02.387701+0800 Runner[3250:794315] flutter: could not publish video: LiveKit Exception TrackPublishException Failed to publish track`
#### full log
[code]

[2022-04-22 05:56] http600 commented on #108
I think the problem was
[code]
too early to publish video track, it was happening before connection established, I think we need to wait or try again silently

[2022-04-22 05:58] hiroshihorie commented on #108
I can see it's trying to reconnect. Can you try with stable network ?

[2022-04-22 16:28] davidzhao commented on #108
As discussed in Slack, the initial connect needs to complete successfully before you can publish to the room. Closing the issue.

[2022-04-22 16:28] #108 closed

[2022-04-26 16:13] #96 closed

[2022-04-29 04:18] http600 opened #111 "Render video in mirror style should only happen when local track with front camera"
https://github.com/livekit/client-sdk-flutter/blob/63f78e59758dab70bf5855d9c1a6ba426027fbf1/lib/src/widget/video_track_renderer.dart#L91

Local track with back camera should not render in mirror style

[2022-05-03 23:51] alex-bluetrain opened #112 "VideoParameters not exported"
There are no VideoParameters (or VideoParametersPresets) available in the package.

It's missing an `export 'src/types/video_parameters.dart';` on livekit_client.dart
note there are other src/types files not being exported, but I'm not sure if they all need to

tested on v0.5.9 (main doesn't seem to have it either)

[2022-05-04 00:47] alex-bluetrain opened #113 "sdk is broken (0.5.9)"
The sdk seems to be broken, not even the "example/" would run or compile.

when trying to run the example, there are tons of compilation errors.

[code]
---- snip ----
[code]

[2022-05-04 02:11] hiroshihorie commented on #113
I just confirmed it compiles Android / Web / macOS so far, using the latest Flutter Stable SDK.
What version of Flutter SDK are you using ?

[2022-05-04 02:46] alex-bluetrain commented on #113
Thanks @hiroshihorie
I was using Flutter 2.5.2 • channel stable
I upgraded to Flutter 2.10.5  • channel stable

and now it works ;)

[2022-05-04 02:46] #113 closed

[2022-05-04 02:52] hiroshihorie commented on #112
Nice find !, advanced uses would need these types.

[2022-05-05 16:33] #112 closed

[2022-05-10 07:15] Parfyonator opened #114 "publishData results in TimeoutException on mobile platforms"
## Problem

For some reason `publishData` method of `LocalParticipant` class fails to send message on mobile platforms (iOS/Android), although it works fine on web: during the connection to the same room participants receive messages sent by users connected with web versions of the app, while messages sent by mobile clients never received by any participant.

During the debug stage on mobile devic

[2022-05-10 10:28] rokk4 commented on #102
How did you solve this issue? @acgacgacgacg  I am facing a similar situation.

[2022-05-11 20:16] rokk4 opened #115 ""ConnectException Failed to connect to server" ONLY on iOS with 4G/5G"
First I want to thank you for the dev expierence with livekit, it is really awesome. This project is going to huge. :)

My issue is, It just won't connect on iOS with celluar, works fine in every other scenario.

Very strange is that, there is a small chance for it to work, but only after a fresh start of the app. But this happend only 2 or 3 times out of 50-60 trails.

At first I thought that it

[2022-05-11 20:18] rokk4 commented on #102
@davidzhao Thanks for the quick reply. I have opened a separte issue https://github.com/livekit/client-sdk-flutter/issues/115 , because on further investigation it was different.

[2022-05-11 20:25] rokk4 opened #116 "Unhandled Exception: type 'int' is not a subtype of type 'String'"
In the example app, this shows up in the logs.

[code]

Where does it come from?
Can it be ignored?

Steps to reproduce:
use example app on iphone with 4G/5G
server URLwss://live. txxhexxraxxpy-lxxixxft.net (without the xxs because SEO ...)
token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTQ3ODY4NTAsImlzcyI6IkFQSWFlb0JFeENOdG5CUyIsIm5iZiI6MTY1MjE5NDg1MCwic3ViIjoic2wiLCJ2aWRlbyI6eyJyb29tIjo

[2022-05-13 06:18] HnjFlutter opened #117 "How to connect Room with out Publish Audio & Video"
How to connect room with out publish audio and video only share chat data

[2022-05-14 19:08] Parfyonator commented on #114
I didn't have much time to dig into this problem but turns out that omitting [this check](https://github.com/livekit/client-sdk-flutter/blob/377e0c5209b51c89d2c1d5a6dc38ef72e0313a86/lib/src/core/engine.dart#L214) "solves" the problem: it doesn't crash the application but eventually lets me send messages via the data channel. It means that the data channel is actually opened and ready to send data

[2022-05-15 15:01] hiroshihorie commented on #116
Hi, I think this was fixed in the dependency we use.
Can you try `flutter pub upgrade` and compiling it again.

[2022-05-15 21:38] rokk4 commented on #116
@hiroshihorie thanks for the reply :)

On Android the issue seems fixed by using the latest commit directly from git.
Also I am using Flutter 3.0 now.

However now two new issues came up, so I could only check it on Android.
On MacOS the Camera is no longer being recognized.

And iOS now crashes like this directly on connection:
[code]

[2022-05-15 21:53] rokk4 commented on #117
I think audio/video of is the default or  you could just disable the audio,video with:

[code]

Look at the example code, the usage is shown like this:
[code]

[2022-05-16 00:34] acgacgacgacg opened #118 "App crashes after connected on iOS with Flutter 3.0 stable"
## Problem

After upgraded Flutter to 3.0 stable, the app crashes each time after connected to the server.
This occurred on iphoneX device with iOS 15.4.

## Log

[code]

## How to reproduce

Use the example app and build with Flutter 3.0 stable.

## flutter doctor

[code]

[2022-05-16 04:22] HnjFlutter commented on #117
Thank you for helping @rokk4

[2022-05-16 04:22] #117 closed

[2022-05-16 05:22] davidzhao commented on #115
@rokk4 thank you for the detailed bug report. which version of the server are you running? Do you have a TURN server set up as well?

[2022-05-16 06:00] rokk4 commented on #118
Same here https://github.com/livekit/client-sdk-flutter/issues/116#issuecomment-1127045489

[2022-05-16 06:08] hiroshihorie commented on #118
Looking into this one

[2022-05-16 06:08] rokk4 commented on #115
@davidzhao thanks for the reply. :)

LiveKit-Server Version is 0.15.7.
Yes, it is using the integrated TURN server.

What I find especially strange is, that the React Example App is working perfectly, so I have the feeling that this is not a issue coming from the server, but something in the the native iOS part of the client.

[2022-05-16 07:24] hiroshihorie commented on #118
This PR makes it not crash anymore 👉 https://github.com/flutter-webrtc/flutter-webrtc/pull/953
Please wait until it gets merged, then we can update our package.

[2022-05-16 15:04] hiroshihorie commented on #114
interestingly, I can't reproduce this. What is your server version ?

[2022-05-16 15:06] hiroshihorie commented on #116
Yes I think this is fixed in the PR I submitted to `flutter_webrtc` package.

[2022-05-16 15:48] Parfyonator commented on #114
Hi. `v0.15.6` I assume.
Is there a straightforward way to check the version of the currently running livekit server? Docker says that it is running the latest version of the `livekit/livekit-server` image. Command `docker image inspect` gives me version `v0.15.6` (`"org.opencontainers.image.version":"v0.15.6"`).

[2022-05-17 01:54] hiroshihorie commented on #111
This has been merged into `main` 🙂

[2022-05-17 01:54] #111 closed

[2022-05-17 10:02] hrxiang opened #120 "Error : Concurrent modification during iteration: _LinkedHashMap len:0."
**repeat disconnect,  connect,  disconnect,  connect ............**

[code]

[2022-05-17 14:08] hiroshihorie commented on #120
looking into this one ! can I see the code you use to reproduce this ?

[2022-05-20 02:33] hiroshihorie commented on #118
This should be fixed in v1.0

[2022-05-20 02:33] #118 closed

[2022-05-20 02:34] hiroshihorie commented on #116
This should be fixed in v1.0

[2022-05-20 02:34] #116 closed

[2022-05-20 02:35] hiroshihorie commented on #120
I think this is due to not awaiting connect / disconnect.
If it still happens please re-open the issue 🙂

[2022-05-20 02:35] #120 closed

[2022-05-20 11:09] rokk4 opened #121 "[Windows] SIGTERM / Crash on connection"
Using the example app results in a crash when connecting.

The issue was always there, in all LiveKit versions that I tried, not just the recent releases.

The WebRTC Example App is working fine for me on windows.
How can I try to debug this?

client_sdk: 1.0.0
server: 1.0.1
flutter: 3.0.1

[code]

[code]

[2022-05-20 20:58] davidzhao commented on #84
@ZestyXin the issue is your file is not encoded according to WebRTC standards. It's likely using b-frames which Chrome doesn't support.

Please use [these encoding instructions](https://github.com/livekit/server-sdk-go/tree/main#publishing-tracks-to-room) in order to create the file.

[2022-05-20 20:58] #84 closed

[2022-05-25 15:39] davidliu commented on #114
@hiroshihorie not sure if it's related at all, but looks like there's an issue where the dataChannel id gets changed and the underlying flutter-webrtc can't locate the datachannel any more. I'll look into fixing that.

[2022-06-03 04:49] cloudwebrtc commented on #64
I'm pretty sure that this bug is caused by the `built-in AEC` startup logic because some users in `dart-sip-ua` reported similar issues. when playback is started before recording, and Windows has `built-in  AEC` enabled, the microphone will fail to start.

The PR of the relevant native SDK, then the `flutter-webrtc` needs to be updated.
https://github.com/webrtc-sdk/webrtc/pull/23

[2022-06-03 04:54] cloudwebrtc commented on #121
@rokk4 I will try to investigate this issue,

[2022-06-03 11:08] rokk4 commented on #121
@cloudwebrtc  Thanks for your efforts, please let me know if I can do something to assist.

[2022-06-04 00:35] litzbalane2017 opened #126 "Data Publish and Events not working Flutter 3"
Good Day.

I just updated a week ago to Flutter 3. I noticed that publish data is not working anymore. It used to work well before the upgrade. Here is my flutter doctor:

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 3.0.1, on Ubuntu 18.04.6 LTS 4.15.0-177-generic, locale
    en_PH.UTF-8)
[✓] Android toolchain - develop for Android devices (Android SDK v

[2022-06-06 06:23] cloudwebrtc commented on #126
Are there any flutter console logs? This will help with debugging.

[2022-06-06 06:31] cloudwebrtc commented on #121
After fixing a few bugs, it works fine on flutter 3.0.1, I need to fix the upstream native sdk, which should make the windows version stable soon
<img width="450" alt="image" src="https://user-images.githubusercontent.com/17733746/172107053-6f55dd8c-8d53-48de-8c19-75c5053cabb0.png">

[2022-06-06 11:30] cloudwebrtc commented on #121
related PRs.
https://github.com/webrtc-sdk/webrtc/pull/29
https://github.com/webrtc-sdk/libwebrtc/pull/26
https://github.com/webrtc-sdk/libwebrtc/pull/27

[2022-06-08 02:45] cloudwebrtc commented on #121
@rokk4 You can try this branch, it should fix these issues
https://github.com/livekit/client-sdk-flutter/pull/127

[2022-06-08 02:46] cloudwebrtc commented on #64
fixed https://github.com/livekit/client-sdk-flutter/pull/127

[2022-06-09 00:12] davidliu commented on #29
@BenCherif open up a new issue, and copy the error logs.

[2022-06-09 09:16] BenCherif commented on #29
@davidliu  thanks for your response  i've resolved by run Flutter clean .

[2022-06-09 10:16] litzbalane2017 commented on #126
Good Day.

I already update my livekit-server version 1.0.2 and livekit_client: ^1.0.0. The same issue exists. Here is the console logs, every after data publish attempt.

[code]
I have been publishing data thru:

`_liveSellingRoom?.localParticipant?.publishData(utf8.encode(value));`

Hope this helps. Thank you.

[2022-06-09 10:48] #64 closed

[2022-06-09 10:48] #121 closed

[2022-06-21 05:44] davidzhao commented on #93
@no-1ne I believe that's for capturing the current application's screen share. We are putting in support for screen sharing for other applications very soon. Stay tuned.

[2022-06-22 10:57] design2be opened #129 "Windows 11 - Crash on Connect in Example Project, Version 1.0.1"
On the example project the app crashes directly on connect with Windows 11 (Version 21H2) using the Live Kit Version 1.0.1.

The persmissions for video & microphone have been granted according to the flutter permission handler. (https://pub.dev/packages/permission_handler)

Version of WebRTC is already 0.8.9.

[code]

[2022-06-22 11:02] cloudwebrtc commented on #129
Does the crash happen after publishing local tracks?

[2022-06-22 14:16] design2be commented on #129
It crashes on connect: connect.dart line 89.

The server is a remote server and it works under OSX.

Settings are default like shown in the graphic below.

Thanks!

![Crash](https://user-images.githubusercontent.com/4869339/175051729-e5cbb5d6-82c3-4651-adaa-0f84856041ba.png)

![Crash_Settings](https://user-images.githubusercontent.com/4869339/175051697-c00a0aef-d9bf-489c-a9a4-a64045f5f832.png)

[2022-06-23 04:13] cloudwebrtc commented on #129
@design2be  There is some info that might help me, is the type of windows CPU you are using AMD or Intel, what is the version of livekit-server and is the current encoding h264?

[2022-06-27 11:02] design2be commented on #129
@cloudwebrtc Here the collected infos:
PC:
Processor	Intel(R) Core(TM) i7-9700 CPU @ 3.00GHz   3.00 GHz
Installed RAM	16.0 GB (15.8 GB usable)
System type	64-bit operating system, x64-based processor

Live Kit Server Version: 0.15.6

Lets see if a server update will solve things.

Thanks already!

[2022-06-27 11:29] design2be commented on #129
Update:

We updated the live kit server to 1.1.0 and the demo app crashes in the same way.

[2022-06-28 09:37] hrxiang opened #132 "Failed to run ios simulator: No such module 'WebRTC'"
Swift Compiler Error (Xcode): No such module 'WebRTC'
/Users/xxxxx/Development/flutter/.pub-cache/hosted/pub.flutter-io.cn/livekit_client-1.0.0/ios/Classes/LiveKitPlugin.swift:0:7

Uncategorized (Xcode): Command CompileSwiftSources failed with a nonzero exit code

Could not build the application for the simulator.
Error launching application on iPhone 12 Pro Max.

Doctor summary (to see all detail

[2022-06-30 03:42] cloudwebrtc commented on #129
Okay, I will try to make a test in the same environment.

[2022-07-03 04:50] vjeson commented on #129
I meet the same problem， and I found that it cause by invalid iceServers fomat on windows
the iceserver return from livekit-server and was formated as
`
{sdpSemantics: unified-plan, iceServers: [{urls: [turn:xxxxxx:xxx?transport=udp], username: xxxx, credential: xxxx, password: xxxx}, {urls: [stun:xxxxx:3478]}]}
`
It cannot be parsed correctly ,I tested with debug version libwebrtc and got the err

[2022-07-05 17:10] cloudwebrtc commented on #129
@vjeson  I submitted a fix https://github.com/flutter-webrtc/flutter-webrtc/commit/9ea1e85af1ae8dec58d441ee8b9ede01611fea7e and the test passed the configuration below, can you give me feedback after testing it?

[code]

[2022-07-07 06:29] davidzhao commented on #61
Closing as this as we've had numerous improvements since last year. Please re-open if this continues to be an issue without the workaround.

[2022-07-07 06:29] #61 closed

[2022-07-07 06:29] davidzhao commented on #7
closing due to really old issue.

[2022-07-07 06:29] #7 closed

[2022-07-07 06:30] davidzhao commented on #114
This issue had been fixed. please reopen if this continues to be a problem.

[2022-07-07 06:30] #114 closed

[2022-07-08 06:47] vjeson commented on #129
I tested it .It works perfectly. thanks very much

[2022-07-08 07:00] cloudwebrtc commented on #129
@vjeson Thanks for your feedback, I will release a new version soon to fix this issue

[2022-07-09 21:06] design2be commented on #129
Thanks so much for this fix! Its no longer crashing and the fix work now on windows :-)

Shall we close this issue then?

[2022-07-11 01:57] cloudwebrtc commented on #129
@design2be I made a PR to fix it.

[2022-07-11 07:14] #129 closed

[2022-07-11 08:02] cloudwebrtc commented on #126
@litzbalane2017 Have you tried upgrading both livekit server and client-sdk-flutter to the latest version?
I think this error is caused because the `data channel` did not successfully establish a connection.

The example uses similar codes, and there is no problem in sending data through a normal connection.

[code]

[2022-07-12 08:56] jdwxp opened #137 "How to change the audio output from speaker_phone to earpiece speaker?"

[2022-07-15 03:14] litzbalane2017 commented on #126
Yes, I also tried "Utf8Encoder().convert()" did not work on my end.

However, I tried installing the sample project of livekit-client and it is working fine. Pretty sure it is on my end.

Closing, since I can confirm it is working on sample project.

[2022-07-15 03:15] #126 closed

[2022-07-15 09:22] jdwxp commented on #137
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel unknown, 3.0.3, on macOS 11.4 20F71 darwin-x64, locale zh-Hans-CN)
[✓] Android toolchain - develop for Android devices (Android SDK version 32.1.0-rc1)
[✓] Xcode - develop for iOS and macOS (Xcode 13.2.1)
[✓] Chrome - develop for the web
[✓] Android Studio (version 2021.1)
[✓] VS Code (version 1.69.0)
[✓] Connected de

[2022-07-15 12:27] zionnite commented on #132
according to the documentation its not expected to run on ios simulator but on real device

[2022-07-20 07:18] vishal-android-freak commented on #115
I am seeing the same when I am connecting via flutter client on 4G as well as wifi on Android. The server says

`2022-07-20T07:14:00.600Z	ERROR	livekit.turn	v2@v2.0.8/server.go:184error when handling datagram: failed to handle Allocate-request from 152.57.213.227:44386: integrity check failed
github.com/pion/turn/v2.(*Server).readLoop
	/go/pkg/mod/github.com/pion/turn/v2@v2.0.8/server.go:184
githu

[2022-08-03 03:51] wer-mathurin opened #141 "Readme require update for flutter livekit_client"
**Describe the bug**
In the lastest release we can see:
Feat: iOS screen share

But the readme says this is not supported!

[2022-08-06 04:39] #141 closed

[2022-08-06 04:57] cloudwebrtc opened #143 "[Desktop] It takes too long to generate a thumbnail, causing UI blocking."
Please refer to https://github.com/flutter-webrtc/flutter-webrtc/issues/1042

[2022-08-06 10:55] wer-mathurin commented on #93
@davidzhao this is now supported.  You can close this ticket

[2022-08-06 19:15] davidzhao commented on #93
Screen sharing is now available in [v1.1.0](https://github.com/livekit/client-sdk-flutter/releases/tag/v1.1.0)!

[2022-08-06 19:15] #93 closed

[2022-08-13 13:46] mwk24 opened #148 "VideoDimensions backwards? (iOS)"
https://github.com/livekit/client-sdk-flutter/blob/7c16d2f3ecd5180fe95c8db9b3c578bc6c457482/lib/src/types/video_dimensions.dart#L7

Will delete if false alarm, but seems on iPhone height and width are backwards.

[2022-08-15 07:02] FreddyKaiser opened #150 "Failed to build for iOS with version 1.1.0"
After updating from livekit_client: 1.0.1 to livekit_client: 1.1., building for iOS generates this error:
[code]

[2022-08-15 07:15] cloudwebrtc commented on #150
I think you need to delete the `ios/Podfile.lock`,  and then run `pod update`

[2022-08-15 09:01] cloudwebrtc opened #151 "Automatically disconnect from the room when exit/close the app."

[2022-08-15 14:41] FreddyKaiser commented on #150
Tried this and other cleanup commands like `flutter clean`but no success. Does it work on your side?

[2022-08-15 14:42] chauvansang1997 commented on #150
convert your podfile to ios 10

[2022-08-15 14:46] FreddyKaiser commented on #150
How?

[2022-08-15 15:36] xor22h commented on #150
I think the issue is in https://github.com/livekit/client-sdk-flutter/blob/v1.1.0/ios/livekit_client.podspec#L3 where, one in v1.1.0 resolves has name of 1.0.0

[2022-08-16 23:42] cloudwebrtc commented on #150
okay, I'm confirming where the issue is.

[2022-08-17 00:10] cloudwebrtc commented on #150
@FreddyKaiser @xor22h  I created a hotfix (seems ok in my local test), can you add this dependency to your project,  help me confirm this fix.

[code]

[2022-08-17 00:31] cloudwebrtc opened #153 "Add compile CI check for ios/mac/win/web."
Compile and verify all supported platforms before releasing the package

https://github.com/subosito/flutter-action

[2022-08-17 05:43] FreddyKaiser commented on #150
@cloudwebrtc with your fix it is successfully built again:
[code]

[2022-08-17 08:54] #150 closed

[2022-08-22 04:52] cloudwebrtc opened #154 "The local participant widget cannot respond to the muted state."

[2022-08-29 09:01] Biswajit1729 commented on #137
not working in android
please help

[2022-09-01 16:30] Biswajit1729 commented on #137
solution of audio out put is here

https://github.com/livekit/client-sdk-flutter/blob/main/lib/src/hardware/hardware.dart

[2022-09-06 19:21] jascodes opened #159 "RTCVideoRenderer compile issue"
Sample project with issue attached
https://github.com/jascodes/livekit-RTCVideoRenderer-issue

I am getting following compilation issue

[code]

[2022-09-06 19:33] jascodes commented on #159
Below is codemagic log

https://codemagic.io/app/63179ea75fd30abed612350c/build/63179fb69df13ea7e4935299

Steps to reproduce
create flutter 3.3 project
make ios target to 12.1
update podfile
[code]

[2022-09-06 19:33] jascodes commented on #159
Let me know if there are any missing steps for iOS?

[2022-09-07 01:29] cloudwebrtc commented on #159
@jascodes fixed in https://pub.dev/packages/livekit_client/versions/1.1.1-hotfix,
You should fix compile errors after running `flutter clean && flutter pub get`.

[2022-09-07 02:16] #159 closed

[2022-09-07 07:13] jdde opened #163 "Web - AudioCaptureOptions cant use deviceId and optional parameters"
When you're initiating a track in the flutter web version and provide AudioCaptureOptions, the MediaConstraintsMap is generated in a way, which is not compatible with current web implementations.

To reproduce the problem, just try to getUserMedia in your current browser (I'm using chrome v104)
[code]
This will throw an error:
TypeError: Failed to execute 'getUserMedia' on 'MediaDevices': Malforme

[2022-09-07 07:51] jdde commented on #163
update: checked the video implementation. It's not providing any optional parameters, so it will work.

[2022-09-07 08:02] jdde commented on #163
https://github.com/livekit/client-sdk-flutter/pull/164

[2022-09-07 08:26] jdde commented on #163
pull request was merged :)

[2022-09-07 08:26] #163 closed

[2022-09-07 15:29] BenCherif commented on #137
@Biswajit1729  how to use this in the code ?

[2022-09-07 15:43] Biswajit1729 commented on #137
Yes
Thank you

[2022-09-07 21:48] davidzhao opened #165 "No TCP candidates are being sent"
The Flutter SDK isn't configured to use ICE TCP, which it should to maximize connectivity.

To confirm I ran livekit-server locally and Flutter example app. In my server logs I see the following candidates coming from the client:

[code]

[2022-09-07 22:38] davidzhao commented on #165
false alarm, I tried disabling UDP candidates from the the server and Flutter was able to connect via TCP.

[2022-09-07 22:38] #165 closed

[2022-09-08 07:28] #137 closed

[2022-09-08 09:06] lxl518000 opened #166 "VideoTrackRenderer for local has been blacked when toggle video status"
thanks for your sdk !

i found that VideoTrackRenderer for local has been blacked when toggle video status!

the vedio status is enabled when i connected to the room.

and then setCameraEnabled(false) ,looks well;

and then setCameraEnabled(true) , the other members can view my camera video;

but my local VideoTrackRenderer  gave a black container withoth anything;

please check it?
[](url)

https

[2022-09-08 09:10] lxl518000 commented on #166
@cloudwebrtc please check it ?

[2022-09-08 10:36] lxl518000 commented on #166
also ,  when the black screen appears, the camera will not be released after page closed;

hope this information is useful  ！

[2022-09-08 10:54] BenCherif opened #167 "setSpeakerphoneOn is not working."
even i'm run the app on android it show me this error .
Unhandled Exception: UnimplementedError: setSpeakerphoneOn only support on iOS/Android

what i figure out is that the condition you put in Hardware class
[code]

i got this error because you use || operator so at least on condition is true , i'm run the app on  android so the !rtc.WebRTC.platformIsIOS condition is true :/   one thing you can

[2022-09-08 11:40] cloudwebrtc commented on #167
okay, It's an obvious bug, I'll fix it now

[2022-09-08 11:46] #167 closed

[2022-09-09 03:09] lxl518000 commented on #166
Hi bro, it's easier to reproduce when there is another person in the room。

[2022-09-09 03:18] lxl518000 commented on #166
this is my test log!

I/org.webrtc.Logging(15920): EglRenderer: Initializing EglRenderer
I/org.webrtc.Logging(15920): EglRenderer: EglBase.create shared context
D/HostConnection(15920): HostConnection::get() New Host Connection established 0xd525b230, tid 16880
D/HostConnection(15920): HostComposition ext ANDROID_EMU_CHECKSUM_HELPER_v1 ANDROID_EMU_native_sync_v2 ANDROID_EMU_native_sync_v3 ANDROID_

[2022-09-09 03:40] cloudwebrtc commented on #166
so, this issue is only reproduced on android, will other platforms have it?

[2022-09-09 03:49] lxl518000 commented on #166
Currently I only have the android environment, I use it in combination with the web page ^_^

[2022-09-09 20:15] daniloapr opened #170 "[Docs] pod install failing after adding livekit_client dependency"
After adding the latest `livekit_client: ^1.1.2` on pubspec, I am getting this error on Mac M1:

[code]

flutter doctor:
[code]

Firebase dependencies:
[code]

Is there some missing steps in the docs?

[2022-09-09 20:36] daniloapr commented on #170
The fix I found was:

1. Set the ios version on `Podfile` to `12.1`
[code]
2. Delete `Podfile.lock`
3. Run pod install again
[code]

That would be a useful addition to the docs :)

[2022-09-13 13:00] jascodes commented on #166
I have similar issue on flutter web. When somebody disconnects and reconnect.

[2022-09-14 10:01] msackman opened #171 "WS connection keeps dropping"
Somewhere between version 1.1.1 and 1.1.2, a change was introduced which causes the ws connection from the client to the server to drop about once every 20 seconds.
This may only manifest for android, not sure.

Looking through the commits, I think there's something maybe not quite right with the ping-pong that's been added.
On the server I'm using:

[code]

With 1.1.1, the ws stays connected to t

[2022-09-14 12:57] jascodes commented on #171
I am facing this on flutter web client

[2022-09-14 23:44] daniloapr commented on #132
As commented [here](https://github.com/flutter/flutter/issues/64502#issuecomment-699523589), you can add this line in your Podspec file. That worked for me:

[code]

[2022-09-14 23:46] daniloapr opened #172 "Error on CI after adding LiveKit dependency - No such module 'WebRTC'"
After adding `livekit_client: ^1.1.2` dependency, the Codemagic CI stoped working. It's working fine on actual device or emulator.

Any clues on how can I fix it?

[code]

flutter doctor
[code]

[2022-09-14 23:53] cloudwebrtc commented on #172
hey @daniloapr, Can you try to upgrade flutter to 3.3.1? This is an xcode setting problem. Regarding arm 32bit, ios 32bit has been deprecated in the new flutter. There is an issue in the upgrade and it should be resolved

[2022-09-14 23:54] cloudwebrtc commented on #171
It looks like ping/pong doesn't work very well, I'm checking

[2022-09-15 04:15] #171 closed

[2022-09-15 13:42] jascodes commented on #132
@daniloapr But that for using m1 machine for complilation. Simulator still don't work as per docs. you would need to test on real device.

[2022-09-16 06:08] cloudwebrtc commented on #132
@jascodes thanks, I'll look into m1 simulator next week

[2022-09-19 03:15] lxl518000 commented on #166
hi bro,can there be any progress on this issue?

[2022-09-19 05:07] cloudwebrtc commented on #166
Sorry for being busy lately, I will try to close this issue this week, it seems to be related to the video renderer timing.

[2022-09-23 08:44] lxl518000 commented on #166
hi ，dear cloudwebrtc, It's been a busy week,  wish you  a nice weekend。

please don't forget to check this issue if it's possible .

everything looks fine except for the issue of local camera switching。

sorry for bother again。

[2022-09-23 09:15] cloudwebrtc commented on #166
Yes, I have started debugging this issue,

[2022-09-23 11:48] cloudwebrtc commented on #166
hey @lxl518000, What version of the example did you use when recording the video?
If yes please try to apply this patch https://github.com/livekit/client-sdk-flutter/commit/82e8a9eedfc3b59932338a5ba93f6cf5934bca0c
I can't seem to recreate this issue in my testing.

[2022-09-23 12:10] cloudwebrtc commented on #166
This is actually related to not setting state to update UI after videotrack muted.

https://github.com/livekit/client-sdk-flutter/commit/82e8a9eedfc3b59932338a5ba93f6cf5934bca0c#diff-7e0e2f20d71da6c7c83c6cc42b2fc91534b17a40cfcd849b12f7e306e470648cR132

[2022-09-23 13:46] lxl518000 commented on #166
hi there, i just record a new video today via  compile the latest example code;
see this

https://user-images.githubusercontent.com/7520801/191973660-89efab64-7025-43c9-b514-8868e1e72425.mp4

first disable the camera.  and then enable it ,
you might got a exception like  android decode... failed. and you got a black container.
 after that, the camera will not released after exit room.

toggle some

[2022-09-23 14:09] cloudwebrtc commented on #166
okay, can you paste the exception message you got? UI invalidation may be related to this exception thrown, which prevents the normal update of UI state.

[2022-09-23 14:30] lxl518000 commented on #166
I/org.webrtc.Logging( 4122): CameraStatistics: Camera fps: 29.
I/org.webrtc.Logging( 4122): EglRenderer: Duration: 4007 ms. Frames received: 97. Dropped: 1. Rendered: 96. Render fps: 24.0. Average render time: 2385 us. Average swapBuffer time: 1270 us.
I/org.webrtc.Logging( 4122): CameraStatistics: Camera fps: 28.
I/flutter ( 4122): 14:26:40: setSourceEnabled(source: TrackSource.camera, enabled: f

[2022-09-23 14:36] lxl518000 commented on #166
this time i got a exception

![image](https://user-images.githubusercontent.com/7520801/191985570-28b831f1-20f5-4527-8776-7854d2280839.png)

stConnection( 4122): HostComposition ext ANDROID_EMU_CHECKSUM_HELPER_v1 ANDROID_EMU_native_sync_v2 ANDROID_EMU_native_sync_v3 ANDROID_EMU_native_sync_v4 ANDROID_EMU_dma_v1 ANDROID_EMU_direct_mem ANDROID_EMU_host_composition_v1 ANDROID_EMU_host_composition_v2

[2022-09-23 14:39] cloudwebrtc commented on #166
Aha, MediaStreamTrack seems to be disposed twice

[2022-09-23 14:40] cloudwebrtc commented on #166
What version of this android emulator are you using? I can try to reproduce this issue locally

[2022-09-23 14:41] lxl518000 commented on #166
![image](https://user-images.githubusercontent.com/7520801/191986806-9840e9a2-f74f-4d8d-8fa6-835fb3a2873b.png)

[2022-09-23 14:42] lxl518000 commented on #166
The same scene can also appear on my mobile phone

[2022-09-23 14:43] cloudwebrtc commented on #166
okay, thanks.

[2022-09-23 14:53] lxl518000 commented on #166
i am going to take care of my baby, see you later！

thank's for your contribution , have a good night~~

[2022-09-26 01:48] cloudwebrtc commented on #166
@lxl518000 I have tested it many times and found that this problem will reproduce when the simulcast is turned on. When simulcast is turned off, the local video can be switched very well. Can you help me verify this problem?

[2022-09-26 02:15] lxl518000 commented on #166
ye ， my pleasure.
I'll test it in a while ！

[2022-09-26 02:38] lxl518000 commented on #166
@cloudwebrtc My test is the same as your result.
When the simulcast is disabled, it can run well.
Once the simulcast is enabled, a black container will appear during the first switching, and the subsequent switching can be displayed normally. In this case,  the camera will not be released if you didn't disable the camera.

so, can this problem be solved?

[2022-09-26 02:58] cloudwebrtc commented on #166
Yes, I am trying to solve (recompile the debug version of libwebrtc.aar), this may be related to `VideoTrack` being held multiple times but not fully released.

[2022-09-27 13:11] FreddyKaiser commented on #166
I can reproduce the problem too; and I'm able to get rid of the black screen by calling `track.setCameraPosition(...)`

[2022-09-27 13:51] FreddyKaiser opened #178 "LocalVideoTrack.createCameraTrack() is not releasing camera notification status"
I'm using `LocalVideoTrack.createCameraTrack()` to display a preview before joining the conferencing room to the user.

When connecting to the Room over the fastConnectOptions I provide this preview track as `TrackOption()`
[code]

This seems working as desired and when leaving the conference room over .disconnect(), the Camera is no more indicated to be used by the App.

But when not calling the

[2022-09-27 14:49] FreddyKaiser commented on #166
And it seems only to be the case on Android, same code / app on iOS is working fine

[2022-09-27 15:06] cloudwebrtc commented on #178
I believe the issue is related to issue #166

[2022-09-27 15:11] FreddyKaiser commented on #178
Could be, interesting is that 166, at least for me, only affects Anrdoid and not iOS

[2022-09-29 12:01] lxl518000 commented on #166
hi there, i test that if turned off simulcast ,just toggle camera looks well.
but if you toggle mute or unmute after toggleed camera,the same scene appered . that your videorender stack. and not released when exit.

by the way, is there any progress on this issue 。 thanks. @cloudwebrtc

[2022-09-29 17:25] cloudwebrtc commented on #166
Yes, I have located the issue. This is related to the takeOwnership of RtpSender.setTrack in the Android SDK. I think I have fixed it. I will create an update of flutter-webrtc tomorrow and fix this issue

[2022-09-30 01:24] cloudwebrtc commented on #166
@lxl518000 Fixed in this PR https://github.com/flutter-webrtc/flutter-webrtc/pull/1091.

[2022-09-30 03:12] lxl518000 commented on #166
glad to hear this， expect for pub update!

[2022-10-01 15:18] #166 closed

[2022-10-02 01:28] flutterfocus opened #180 "`Failed to connect` exception when attempting to connect to livekit on flutter/iOS real device."
Unable to connect on flutter client with real iOS device.

Running livekit server locally with:
`livekit-server --dev`
`2022-10-02T12:35:46.597+1300	INFO	livekit	service/server.go:211	starting LiveKit server	{"portHttp": 7880, "nodeID": "ND_KPoEusT6", "nodeIP": "192.168.1.245", "version": "1.2.3", "bindAddresses": ["127.0.0.1", "[::1]"], "rtc.portTCP": 7881, "rtc.portUDP": 7882}`

Flutter client r

[2022-10-02 01:49] flutterfocus commented on #180
Nevermind, after a few hours of frustration, discovered that running and setting the `bind` flag solves it:
`livekit-server --dev --bind 192.168.1.245`

I'd highly recommend some notes to compliment this section of the docs (https://docs.livekit.io/guides/getting-started/#starting-the-server).

Cheers.

[2022-10-02 07:23] davidzhao commented on #180
Glad you figured it out! We'll add a note to the docs. Sorry for the confusion here.

[2022-10-02 07:23] #180 closed

[2022-10-04 10:47] janoskranczler opened #181 "Hardware.setSpeakerphoneOn() not working on iOS"
`Hardware.setSpeakerphoneOn()` doesn't switch between speaker/earpiece. I tried it on an iPhone and it doesn't work. It works well on Android (also tried).

Flutter version:
[✓] Flutter (Channel stable, 3.3.2, on macOS 12.6 21G115 darwin-arm, locale en-HU)
• Flutter version 3.3.2 on channel stable at /Users/janoskranczler/flutter
• Upstream repository https://github.com/flutter/flutter.git
• Frame

[2022-10-04 12:38] janoskranczler opened #182 "Allow configuration of timeouts"
Sometimes the room join times out if the connection is slow. Currently, the timeouts are hard-coded for Engine.connect:
https://github.com/livekit/client-sdk-flutter/blob/b231fda5216bdf532dd64ca52d95ac7150834c38/lib/src/core/engine.dart#L136
https://github.com/livekit/client-sdk-flutter/blob/b231fda5216bdf532dd64ca52d95ac7150834c38/lib/src/core/engine.dart#L145
It would be better if the timeouts w

[2022-10-05 13:33] janoskranczler opened #184 "After refreshing LiveKit server to 1.2.3 SDK can't connect to server"
After refreshing LiveKit server to 1.2.3  SDK can't connect to server. Neither Android or iOS.

Flutter version:
[✓] Flutter (Channel stable, 3.3.3, on macOS 12.6 21G115 darwin-arm, locale en-HU)
    • Flutter version 3.3.3 on channel stable at /Users/janoskranczler/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 18a827f393 (7 days ago), 2022-09-28

[2022-10-06 06:19] FreddyKaiser commented on #166
@cloudwebrtc thanks for fixining this, is there a version I could check in the meantime it will get released over pub.dev ?

[2022-10-06 06:55] fpasalioglu commented on #166
I think the problem still exists. I am using version 0.9.8 of flutter_webrtc library. But there is a black screen problem. The sound is heard, when spoken, there is a blue stripe around the Container, but it looks black inside.

[2022-10-06 20:19] davidzhao commented on #184
How is your server configured? Is it using a single port or a wider port range?

[2022-10-07 14:16] acgacgacgacg opened #185 "Error on iOS device: Illegal to set field id (2) of livekit.DataChannelInfo to value (-1): out of range for unsigned 32-bit int"
**Describe the bug**
On iOS device, the crashlytics reported the following error
[code]

**Server**
- Version: 1.2.0
- Environment: k8ts

**Client**
- SDK: flutter
- Version: 1.1.0
iPhone 12 iOS 15.6.1
iPhone 12 Mini iOS 15.6.0

**Error log**
[code]

Any idea why this is happening

[2022-10-07 19:03] janoskranczler commented on #184
Using a wider port range: 50000-60000.

[2022-10-10 00:21] cloudwebrtc commented on #181
okay, let me check.

[2022-10-10 00:23] #154 closed

[2022-10-10 00:25] cloudwebrtc commented on #185
hi @acgacgacgacg, Are there any quick steps to reproduce this issue?

[2022-10-10 00:51] acgacgacgacg commented on #185
Sorry, I found this bug in crashlytics, so not aware how to reproduce this.

[2022-10-10 01:07] cloudwebrtc commented on #185
okay, let me investigate

[2022-10-10 09:27] fpasalioglu opened #186 "Black screen on broadcaster's widget"
Hi,
While there is a broadcaster in a room in my app, when a new broadcaster arrives, the image of both broadcasters appears correctly, but when the new broadcaster exits, the old broadcaster sees himself on a black screen. His voice is heard, but he and the audience see a black screen.
**When you put the application in the background and open it again, the camera works.**

@davidzhao @cloudwebrtc

[2022-10-11 07:52] lxl518000 commented on #166
i think this version has fixed my question before.
I  can switch the camera normally.

[2022-10-11 11:52] FreddyKaiser commented on #166
I can confirm it has been fixed, at least for me, with `livekit_client: 1.1.5`

[2022-10-11 11:53] FreddyKaiser commented on #178
Even with `livekit_client: 1.1.5`and the related fix #166 this issue remains

[2022-10-11 12:20] cloudwebrtc commented on #184
After testing for half an hour, there was an occasional failure to connect. It seems to be a deadlock of server signaling. The client must be killed and restarted before the client can connect.

[2022-10-11 12:33] cloudwebrtc commented on #184
but I found another issue when I turned on Ethernet and WIFI on mac at the same time, the Android client connection timed out (the ICE connection could not be established, maybe it is related to the default route on the mac),

[2022-10-11 13:49] fpasalioglu commented on #186
I am using directly github repo, not pub dev.

[2022-10-11 15:08] cloudwebrtc commented on #178
Should be fixed by this PR, I'm verifying
https://github.com/flutter-webrtc/flutter-webrtc/pull/1103

[2022-10-11 20:20] janoskranczler commented on #181
Thank you! Actually, I debugged and I think I found an issue and also a solution:
https://github.com/flutter-webrtc/flutter-webrtc/issues/1098

[2022-10-12 12:20] fpasalioglu commented on #186
Maybe these error logs will help.

[code]

[code]

[2022-10-12 13:12] janoskranczler commented on #184
Thank you for your help in advance. We are using Redis. We can't connect with a client when we update the server to 1.2.3 (from 1.2.2).
```2022-10-12T13:06:35.097Z	INFO	livekit	rtc/participant_signal.go:181	could not send message to participant	{"room": "1pnjef2fic4r6p0m", "roomID": "RM_W2iS8TVzCFm8", "participant": "8smj8i2w44cf2h53", "pID": "PA_FTJt286V4KQg", "remote": false, "message": "*liveki

[2022-10-13 08:11] cloudwebrtc commented on #170
@daniloapr I just tested the latest `CocoaPods` update from October and the command prefix `arch -x86_64 ` is no longer needed on Apple Silicon (M1)
https://stackoverflow.com/questions/64901180/how-to-run-cocoapods-on-apple-silicon-m1

2022 October Update

If you can use Homebrew to manage cocoapods.
[code]

[2022-10-13 11:22] cloudwebrtc commented on #181
Audio management for iOS on flutter-webrtc looks a bit confusing. I am trying to simplify and solve these problems.

[2022-10-13 15:49] cloudwebrtc commented on #178
@FreddyKaiser Should be fixed in this PR #188, it is worth noting that if `room.connect` fails, the ownership of the `preview` will be returned to you and you have to release it yourself, and `room.connect` succeeds will release the `preview` track in `room.disconnect`.

[2022-10-13 20:26] fpasalioglu commented on #186
I am not using the sample app. I integrated the library into my own application.

The script is as follows:
A broadcaster is in the room and a new broadcaster is joining the room. The video of the participating broadcaster is visible to all. there is no problem.
But there is a problem with the camera connection of the broadcaster who is already in the room (log recordings in my comment above). The

[2022-10-14 00:01] #170 closed

[2022-10-14 08:34] cloudwebrtc commented on #184
I looked at this error and it seems to be related to the `response_sink` not being found, can you try turning off redis and testing again?

https://github.com/livekit/livekit/blob/v1.2.3/pkg/rtc/participant_signal.go#L181
https://github.com/livekit/livekit/blob/v1.2.3/pkg/rtc/participant_signal.go#L13-L22

[2022-10-14 09:23] janoskranczler commented on #184
I didn't mention it, but we tested it locally (docker) without Redis and it works without it.

[2022-10-14 09:44] cloudwebrtc commented on #184
I tested it locally, with or without `redis` it can connect normally, so I can't reproduce the error, have you checked whether the TOKEN is expired?

[2022-10-16 14:02] #178 closed

[2022-10-17 06:56] fpasalioglu commented on #186
the left broadcaster and the right broadcaster have their own separate rooms. They join each other's rooms to create the structure in the video. In other words, when the broadcaster on the right joins the room of the broadcaster on the left, he does not see his own image on the left and errors occur in the log.

@cloudwebrtc

[2022-10-17 07:01] FreddyKaiser commented on #178
I tried several different calls in order to release `previewVideo = await LocalVideoTrack.createCameraTrack();`
nothing works:
[code]
and the notification status remains active. Any hints?

[2022-10-17 09:03] fpasalioglu opened #189 "Not reconnecting after network problem fixed"
**Describe the issue**
If the broadcaster has an internet problem or switches from wifi to cellular, the broadcast is interrupted and does not reconnect.

**To Reproduce**
Switch from wifi to cellular

**Expected behavior**
Continue the broadcast from where it is when the internet is fixed

[2022-10-17 09:07] Sang-Nguyen-Sunny commented on #182
I'm also experiencing a constant timeout and can't reconnect

[2022-10-17 09:11] Sang-Nguyen-Sunny commented on #189
If the network is strong, the call will be normal. If the network is slow or the network is switched, the app will immediately crash, LiveKit message "Timeout" or "Failed connect to server"
I'm also experiencing a constant timeout and can't reconnect. in the try catch section if there is an error, always call the function
_updateConnectionState(ConnectionState.disconnected);

[2022-10-17 09:43] cloudwebrtc commented on #181
fixed https://github.com/livekit/client-sdk-flutter/releases/tag/v1.1.6

[2022-10-17 09:46] cloudwebrtc commented on #148
On the mobile side, height and width are sometimes confusing, and the actual parameters are determined by rotation.

[2022-10-17 11:41] cloudwebrtc commented on #181
hey @janoskranczler, I got confused and forgot to update the dependency for `flutter-webrtc`, I should update it tomorrow (there are some other PRs that need to be tested and verified together) and release a new version。

[2022-10-17 11:43] janoskranczler commented on #181
Got it! Thank you!

[2022-10-17 12:58] janoskranczler commented on #184
@cloudwebrtc The token isn't expired. Could you help me what kind of log I should send to you?

[2022-10-17 13:01] cloudwebrtc commented on #189
I'll check, it seems like it should listen to the connection type and try to reconnect automatically when it changes

[2022-10-17 13:04] cloudwebrtc commented on #186
I watched your video, but I'm out of ideas (perhaps related to flutter state update), can this issue be reproduced in client-sdk-flutter/example?

[2022-10-17 13:09] cloudwebrtc commented on #184
If you can provide me with the logs of the flutter client and server logs when the issue occurs, it should help me find the issue.

[2022-10-17 13:18] cloudwebrtc commented on #172
This is a problem with the over-version of flutter and Xcode. It should be fixed by updating to the latest Xcode and flutter sdk, so close this issue. If the issue still exists, please reopen it.

[2022-10-17 13:18] #172 closed

[2022-10-17 13:25] cloudwebrtc commented on #132
Please upgrade to the latest version of Xcode/Flutter SDK, the example can already work correctly in the simulator (M1)
<img width="392" alt="image" src="https://user-images.githubusercontent.com/17733746/196188496-c4488e2c-4b81-476e-9a46-c5646ee55cf2.png">

[2022-10-17 13:25] #132 closed

[2022-10-17 13:26] cloudwebrtc commented on #143
fixed https://github.com/flutter-webrtc/flutter-webrtc/pull/1049

[2022-10-17 13:26] #143 closed

[2022-10-17 13:26] janoskranczler commented on #184
[issue_184_client.log](https://github.com/livekit/client-sdk-flutter/files/9800972/issue_184_client.log)
[issue_184_server.log](https://github.com/livekit/client-sdk-flutter/files/9800973/issue_184_server.log)
I've added the client-server logs. The client logs are newer but regarding to the same issue.

[2022-10-17 13:37] cloudwebrtc commented on #184
I read the client log and it looks like the wss signaling client is connected, but the ICE connection is not successful.
Can you send me a test token and your server url in Slack? If I can reproduce the problem in my local example, the bug should be easier to locate.

[2022-10-17 13:45] cloudwebrtc commented on #184
You can add breakpoints in these two places
https://github.com/livekit/client-sdk-flutter/blob/eaacbf77c542121f733aba514f3400252d5ee72c/lib/src/core/engine.dart#L377
https://github.com/livekit/client-sdk-flutter/blob/eaacbf77c542121f733aba514f3400252d5ee72c/lib/src/core/engine.dart#L390

[2022-10-17 19:06] davidzhao commented on #184
@janoskranczler are you able to reproduce this issue with our [example web app](https://example.livekit.io) when not using `localhost`? which environment are you running your server in?

This might not be a flutter specific issue, but rather configuration / connectivity

[2022-10-17 19:10] davidzhao commented on #189
@fpasalioglu do you happen to receive a disconnected event when this happens? Which device are you using to reproduce the issue?

[2022-10-18 00:56] cloudwebrtc commented on #184
@davidzhao Last night I tested with @janoskranczler's server and reproduced the error in our example, I found two clues
1. The server only sends the host candidate of a private address to the flutter app
2. The client receives and loads the turn server to livekit-sdk, but it seems that there is no relay canidate and no reflx candidate, only 4 host cands are seen in pc.onIceCandidate

There are two

[2022-10-18 00:59] acgacgacgacg commented on #185
@cloudwebrtc
Thanks for your investigation.
I searched the log and found the problem. I might generated the token with the wrong api key and secret pair.
Sorry for bothering, this issue can be closed.

[2022-10-18 00:59] #185 closed

[2022-10-18 07:46] fpasalioglu commented on #189
Xiaomi 11T Pro
Xiaomi Note 8
Iphone 6
I check RoomDisconnectedEvent and ParticipantDisconnectedEvent events on Iphone 6, but they not triggered.

[2022-10-18 07:49] davidzhao commented on #184
This sounds like an issue with the server setup. The server should not be giving it private IPs.. @janoskranczler please ensure `use_external_ip` is set to true in your server configuration. See [deployment docs](https://docs.livekit.io/deploy/#configuration).

[2022-10-18 07:51] cloudwebrtc commented on #189
I remember switching networks on mobile devices, the connected TCP socket will remain for a period of time unless the socket is actively closed, but it may receive ice disconnection.

@fpasalioglu Can you see the signaling disconnect in the log? when you switch networks

[2022-10-18 07:52] #182 closed

[2022-10-18 08:14] janoskranczler commented on #184
@davidzhao We didn't change the server and everything worked on server version 1.2.1.
On 1.2.3 only the Flutter client doesn't work. The JS client works well.
The reason we are not publishing public IP addresses is to be able to transfer TURN traffic to private peering connections so that the TURN servers can act as an edge proxy to our network. And this worked well with 1.2.1 and before since we

[2022-10-18 12:35] fpasalioglu commented on #189
@cloudwebrtc This is log:
[code]

[2022-10-18 12:49] janoskranczler commented on #184
@davidzhao @cloudwebrtc I debugged today and found a few issues that cause the problem.

### ICE servers
According to the comment the user-provided ICE servers should take priority over the server-provided ones:
https://github.com/livekit/client-sdk-flutter/blob/eaacbf77c542121f733aba514f3400252d5ee72c/lib/src/core/engine.dart#L348-L347
But that's not the case:
https://github.com/livekit/client-sd

[2022-10-18 13:00] cloudwebrtc commented on #184
hey @janoskranczler, I think you found useful info, let me try to create a fix branch.

[2022-10-18 14:17] janoskranczler commented on #184
@cloudwebrtc Thank you! I've tested it and it works because the credentials are fixed, but in this way, we still don't have the opportunity to configure the ICE servers and forceRelay on the client side, because the server-provided settings take priority over the user-provided ones. Now it works only because we use the LiveKit-provided (embedded) TURN servers but if we would use external TURN serv

[2022-10-18 14:33] cloudwebrtc commented on #184
hey @davidzhao, do you have any idea about the priority of `iceServers/forceRelay` for(`server side/client side`)?

[2022-10-18 18:50] fpasalioglu commented on #186
I found the error.
The left broadcaster is broadcasting in a room of his own. The publisher on the right also has a room of his own. They connect to each other's room so that the two broadcasters can see each other. While the camera is used in the broadcaster's own room at the time of connection, when it is connected to the opposite room, the camera access in his own room is cut off and it starts

[2022-10-19 01:50] cloudwebrtc commented on #186
@fpasalioglu Wait, did you publish a localVideoTrack to a different room?

[2022-10-19 03:40] cloudwebrtc commented on #184
@janoskranczler yeah, I think the correct fix is to have high priority setting iceServers/forceRelay on the client side, I will update the PR later.

[2022-10-19 05:55] fpasalioglu commented on #186
yes. Each broadcaster broadcasts in his own room. I thought that for it to appear in the other broadcaster's room, it should broadcast in the other room as well. The error started here.

I would have to connect to the other room as a viewer and get the broadcaster's video.

[2022-10-19 06:06] cloudwebrtc commented on #186
okay, I can probably locate the issue, the videoTrack cannot be held by multiple publishTracks, because the video track getting by flutter-webrtc through getUserMedia is not cloned to each room, so after being released by the first room, it will be invalid in another room

[2022-10-19 06:23] fpasalioglu commented on #186
That's exactly the problem. I solved the problem by joining the other room as a viewer and receiving the broadcast of the owner of that room.
Thanks for your help.

[2022-10-19 06:23] #186 closed

[2022-10-19 07:23] davidzhao commented on #184
@janoskranczler thank you for digging into the weeds. The typo of credentials -> username is quite embarrassing on our side. I really appreciate it!

[2022-10-19 07:30] #184 closed

[2022-10-19 07:32] cloudwebrtc commented on #181
fixed https://github.com/livekit/client-sdk-flutter/pull/190,  will publish a new version to pub today

[2022-10-19 07:49] janoskranczler commented on #184
@cloudwebrtc Thanks for the quick resolution!

[2022-10-19 07:50] janoskranczler commented on #181
@cloudwebrtc Great news! Thank you!

[2022-10-19 08:07] janoskranczler commented on #181
@cloudwebrtc I've tested it and it doesn't work. I'm not sure, but I think the problem is that there was no new pod released for this change:
https://github.com/livekit/client-sdk-flutter/blob/main/ios/livekit_client.podspec#L3

[2022-10-19 08:17] cloudwebrtc commented on #181
The change happens in flutter-webrtc, you can try running
`flutter clean && flutter pub get`
and
`rm ios/Podfile.lock && pod install`

[2022-10-19 08:29] janoskranczler commented on #151
We also experienced it and after it stuck, for about 5 minutes I can't connect with that participant to any room. That's what you meant by "stuck"?

[2022-10-19 14:13] janoskranczler commented on #181
@cloudwebrtc I've tested it with your recommended changes, but it still has not worked on my project. It worked with the example app and I debugged what is the difference and found that when I started a meeting with muted microphone then the speaker/earpiece change will not work. I created a branch for a modified LiveKit example app, which could help to reproduce the error:
https://github.com/jano

[2022-10-19 15:01] janoskranczler commented on #181
Also, I forgot to mention you can only reproduce the error on a physical device. I don't know why but it can't be reproduced on the simulator.

[2022-10-19 15:06] janoskranczler commented on #181
You can reproduce the error if you start the modified example app and start changing the speaker/earpiece with the new button. You should see the following error messages every time when you change to speaker:
[code]

[2022-10-20 03:25] cloudwebrtc commented on #181
Yes, I reproduced the issue you described, but the reason is
When we turn off the `microphone`, we will switch to `AVAudioSessionCategoryPlayback` mode, this mode does not support `Earpiece/Loudspeaker` switching, the sound will be fixed in the Loudspeaker

If we still need to switch the `Earpiece/Loudspeaker` in `playback-only` mode, we must switch the mode to `AVAudioSessionCategoryPlayAndRecord

[2022-10-21 10:03] janoskranczler commented on #181
What do you suggest, how could I fix this issue? I couldn't find a suitable workaround for this yet.

[2022-10-21 12:06] FreddyKaiser opened #193 "Hardware.instance.enumerateDevices: missing 'kind: audiooutput' entries before room.connect"
**Describe the bug**
The list of returned MediaDevice doesn't contain the `kind: audiooutput`entries before connecting to a room.

**To Reproduce**

Call `Hardware.instance.enumerateDevices()` and parse results before `Room.connect()` is missing
[code]
Call `Hardware.instance.enumerateDevices()` and parsing results after `Room.connect()` contains the right list
[code]

**Platform information**

*

[2022-10-21 12:21] davidliu commented on #193
I believe this is a bug in https://github.com/flutter-webrtc/flutter-webrtc. Please file an issue there.

[2022-10-21 12:40] FreddyKaiser commented on #193
Ok https://github.com/flutter-webrtc/flutter-webrtc/issues/1136

[2022-10-21 12:40] #193 closed

[2022-10-21 16:21] cloudwebrtc commented on #181
First we should get the current Audio Deivce state
enum AudioTrackState {
   none,
   remoteOnly,
   localOnly,
   localAndRemote,
}

https://github.com/livekit/client-sdk-flutter/blob/main/lib/src/track/audio_management.dart#L111

When in localOnly, localAndRemote (recordAndPlay), it is possible to switch the earpiece/speaker, while in remoteOnly (playback), we cannot set setSpeakerOn

When in re

[2022-10-21 16:34] davidzhao commented on #151
Hey @janoskranczler, this is actually a different issue. This happens when the application developer doesn't manually call `Room.disconnect`.

When that happens, the SFU would not know the user has intended to leave the room. During which time, the user will still be visible in the room to other participants. It will be removed after server times out the connection, which takes about 15-20s.

[2022-10-24 07:28] fpasalioglu commented on #189
any update?

@cloudwebrtc

[2022-10-24 08:17] cloudwebrtc commented on #189
I'm working on an e2e test case for reconnect and should look into this
issue this week.

Furkan PAŞALIOĞLU ***@***.***> 于2022年10月24日周一 15:28写道：

[2022-10-24 08:23] hrxiang opened #195 "Android 10 screen sharing crash[bug]"
Crash when screen sharing is turned on for the first time. Restart the app as normal

第一次使用屏幕分享功能会闪退，重启app后不在闪退。
Android 10 .
Flutter 3.3.3
compileSdkVersion 33
targetSdkVersion 30

[code]

[2022-10-24 12:08] janoskranczler commented on #181
What do you mean by option 1? Could the user still control the speaker/earpiece switch from the interface?

[2022-10-25 02:22] cloudwebrtc commented on #181
in option1, The speaker/earpiece should not be able to switch manually, but it should be possible to switch between wired headphones/Bluetooth and the speaker

[2022-10-25 04:36] cloudwebrtc commented on #195
It should be related to the first setting of FOREGROUND_SERVICE, can this issue be reproduced in client-sdk-flutter/example?

[2022-10-25 04:39] hrxiang commented on #195
yes  ，only happens the first time

[2022-10-25 09:00] janoskranczler commented on #181
@cloudwebrtc I think it could be solved if you could set the port override here:
https://github.com/livekit/client-sdk-flutter/blob/84b9ef130fedafa1eeed9cf82689649183a69b85/lib/src/track/audio_management.dart#L21

Currently, the `NativeAudioConfiguration` could set category, categoryOptions and mode, but not port override:
https://github.com/livekit/client-sdk-flutter/blob/56aeacc291af3e6ab8a32128

[2022-10-25 14:54] janoskranczler commented on #181
Meanwhile, I found that you can set the portoverride or the defaultToSpeaker option only on playAndRecord category and this won't help with the microphone issue either.

I still do not understand why the microphone will still be used when I disable the microphone.

[2022-10-26 05:54] davidzhao commented on #181
@janoskranczler if you are using `playAndRecord`, the underlying stack will have to acquire record permissions. On iOS, the WebRTC stack activates the recording stack in that mode.

This is the dilemma:
* if you are in playAndRecord, then it will allow you to playback to `defaultToSpeaker`, but it will keep microphone indicator on
* if you are in playback, it will *not* allow you to `defaultToSpea

[2022-10-26 09:36] rokk4 commented on #115
The issue is still there in Server Version 1.2.5 and flutter-client-sdk Version.

Now I have seen the following in the logs.
`caddy_1    | {"level":"error","ts":1666775017.8042235,"logger":"layer4","msg":"handling connection","error":"remote error: tls: unknown certificate authority"}`
during the iOS Mobile connection scenario.

Also this looks interesting:
[code]

So all of this seems to be point

[2022-10-26 11:58] janoskranczler commented on #181
@cloudwebrtc @davidzhao
Thanks for the explanation. I've collected 3 issues according to the mic and earpiece/loudspeaker problem:
1. There should be an option for the user to completely disable the track-based audio configuration in LiveKit:
https://github.com/livekit/client-sdk-flutter/blob/84b9ef130fedafa1eeed9cf82689649183a69b85/lib/src/track/audio_management.dart#L84-L83
2. I couldn't figure

[2022-10-26 12:21] janoskranczler opened #196 "[bug][iOS] Microphone indicator won't turn off after microphone is muted"
**Describe the bug**
After the microphone is muted the microphone indicator (orange dot) won't turn off
**To Reproduce**
1. Install LiveKit example app on a physical iPhone.
2. Join to a LiveKit room. After joining the microphone indicator will be turned on.
3. Mute (turn off) the microphone
4. The indicator will still be turned on.

**Expected behavior**
The microphone indicator turns off after t

[2022-10-27 14:11] janoskranczler commented on #181
I've updated my answer above.

[2022-10-31 04:55] cloudwebrtc commented on #195
I did some investigation, maybe it's a bug of FlutterBackground, after the first execution of `FlutterBackground.initialize(
                 androidConfig: androidConfig);` will throw an exception, when you wait for 1 second and then re-execute `FlutterBackground.enableBackgroundExecution();` it will succeed. so I created an experimental fix

https://github.com/livekit/client-sdk-flutter/compare/

[2022-10-31 20:10] brighama opened #197 "[bug] unable to connect"
Unable to connect to Livekit "cloud" dashboard

**To reproduce**
1. clone repo
2. flutter pub get
3. flutter run --dart-define=URL=ws://{domain from "dashboard"}:7880 --dart-define=TOKEN={token generated in "settings"}
4. (app runs on external device)
5. press "connect"
6. hangs for a few minutes with a spinner and then reports "failed to connect"

**Expected behavior**
Some kind of connection.  A

[2022-10-31 20:19] davidliu commented on #197
Try using `wss://domain.livekit.cloud` instead, noting the wss scheme and no port specified.

[2022-10-31 20:32] brighama commented on #197
Well, this time it immediately reported "Failed to connect"

I/flutter (27777): 13:31:45: SignalClient connecting with url: wss://uvai.livekit.cloud/rtc?access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NjY4MzE2MTgsImlzcyI6IkFQSXpVSkpBcE5NNjZkYiIsIm5iZiI6MTY2Njc0NTIxOCwic3ViIjoidXNlci01YmYwYzNjMCIsInZpZGVvIjp7InJvb20iOiJyb29tLTcwNDIxNzA0Iiwicm9vbUpvaW4iOnRydWV9fQ.8Qjnmx10jr96k7V6PWV45t

[2022-11-01 00:04] cloudwebrtc commented on #197
I opened your [URL](https://uvai.livekit.cloud/rtc?access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NjY4MzE2MTgsImlzcyI6IkFQSXpVSkpBcE5NNjZkYiIsIm5iZiI6MTY2Njc0NTIxOCwic3ViIjoidXNlci01YmYwYzNjMCIsInZpZGVvIjp7InJvb20iOiJyb29tLTcwNDIxNzA0Iiwicm9vbUpvaW4iOnRydWV9fQ.8Qjnmx10jr96k7V6PWV45tKoGlA55N3JHa8Q9RCEgpw&auto_subscribe=1&adaptive_stream=0&protocol=8&sdk=flutter&version=1.0.0&network=

[2022-11-01 07:10] brighama commented on #197
Good catch!   I refreshed it but got the same "Failed to connect" result.   ...I'm not even sure what success will look like though

Here is the output:

An Observatory debugger and profiler on Pixel 2 is available at: http://127.0.0.1:60328/ypwfeAb9Jks=/
I/Gralloc4(31738): mapper 4.x is not supported
W/Gralloc3(31738): mapper 3.x is not supported
The Flutter DevTools debugger and profiler on Pixe

[2022-11-01 08:43] cloudwebrtc commented on #197
okay, I updated example/README, here you should use `wss://uvai.livekit.cloud`, no need `:7880`

[2022-11-01 12:43] brighama commented on #197
???     But I still get an immediate "Failed to connect"

$ flutter run --dart-define=URL=wss://uvai.livekit.cloud --dart-define=TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NjcyODQ0NzksImlzcyI6IkFQSUVZZ1VYWFg2Y0NyTCIsIm5iZiI6MTY2NzI4MzQ3OSwidmlkZW8iOnsiY2FuUHVibGlzaCI6dHJ1ZSwiY2FuUHVibGlzaERhdGEiOmZhbHNlLCJjYW5TdWJzY3JpYmUiOnRydWUsInJvb21Kb2luIjp0cnVlfX0.tMbrP4TS9vWgxj1s3o-c7gxHc_XNrvvn

[2022-11-01 12:47] davidzhao commented on #197
Your token had expired. Expiration time is at `1667284479`

[code]

[2022-11-01 13:07] davidzhao commented on #197
The Token is a JWT: `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NjcyODQ0NzksImlzcyI6IkFQSUVZZ1VYWFg2Y0NyTCIsIm5iZiI6MTY2NzI4MzQ3OSwidmlkZW8iOnsiY2FuUHVibGlzaCI6dHJ1ZSwiY2FuUHVibGlzaERhdGEiOmZhbHNlLCJjYW5TdWJzY3JpYmUiOnRydWUsInJvb21Kb2luIjp0cnVlfX0.tMbrP4TS9vWgxj1s3o-c7gxHc_XNrvvnVn_mpRdraKI`

The middle section is a base64 encoded string of the JSON grant: `eyJleHAiOjE2NjcyODQ0NzksImlzcyI6Ik

[2022-11-01 13:08] davidzhao commented on #197
Can you generate a new token with a long timeout for testing? (give it a week of expiration). then paste your logs here if it still fails to connect.

[2022-11-01 13:11] brighama commented on #197
So, here's what I'm getting at the moment:

`$ flutter run --dart-define=URL=wss://uvai.livekit.cloud --dart-define=TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NjczMDc3MzksImlzcyI6IkFQSUVZZ1VYWFg2Y0NyTCIsIm5iZiI6MTY2NzMwNjczOSwidmlkZW8iOnsiY2FuUHVibGlzaCI6dHJ1ZSwiY2FuUHVibGlzaERhdGEiOmZhbHNlLCJjYW5TdWJzY3JpYmUiOnRydWUsInJvb21Kb2luIjp0cnVlfX0.vUg-9usFAHJxRD_m0WVWdMMuC7YVc9aAj6Xdd_NyqRY `

[2022-11-01 13:13] davidzhao commented on #197
This token expired at `1667307739`

[2022-11-01 13:15] davidzhao commented on #197
You'll be connected to the Room. To connect as another participant on a separate device, you'd want to generate a separate token for it.

[2022-11-01 13:23] brighama commented on #197
Aha, interesting.    I was generating the token from here:

cloud.livekit.io --> settings --> keys --> Generate Token

...and I was leaving the TTL field blank!   (It's not a required field).   Is the default TTL  zero seconds?

Regardless, when I put 1000000 in the TTL field I still get "Failed to Connect"

`$ flutter run --dart-define=URL=wss://uvai.livekit.cloud --dart-define=TOKEN=eyJhbGciOiJI

[2022-11-01 13:27] brighama commented on #197
Dammit, looks like it is still expired

`{"exp":1677308597,"iss":"APIEYgUXXX6cCrL","nbf":1667308597,"video":{"canPublish":true,"canPublishData":false,"canSubscribe":true,"roomJoin":true}}`

[2022-11-01 13:38] davidzhao commented on #197
This is a valid token, `"exp": 1677308597`

[2022-11-01 13:42] brighama commented on #197
Ok, I generated the token using the CLI and it worked!

[code]

[2022-11-01 15:17] davidzhao commented on #197
glad it worked!

[2022-11-01 15:17] #197 closed

[2022-11-01 16:58] iooc opened #198 "Unable to getDisplayMedia: source not found!"
Windows 平台调用 函数 LocalVideoTrack.createScreenShareTrack() 提示 Unable to getDisplayMedia: source not found，
[ERROR:flutter/runtime/dart_vm_initializer.cc(41)] Unhandled Exception: Unable to getDisplayMedia: source not found!
#0      MediaDeviceNative.getDisplayMedia (package:flutter_webrtc/src/native/mediadevices_impl.dart:68:7)
<asynchronous suspension>
#1      LocalTrack.createStream (package:livek

[2022-11-02 07:18] cloudwebrtc commented on #198
Please try this code snippet to enable screen sharing on windows
https://github.com/livekit/client-sdk-flutter/blob/main/example/lib/widgets/controls.dart#L132-L153

[2022-11-02 15:17] iooc commented on #198
非常感谢

[2022-11-03 08:57] fpasalioglu opened #199 "Change mirror settings"
How can broadcaster change his video's mirror setting?
When the broadcaster changes the mirror setting, the video that appears to the viewers should also be mirrored.

[2022-11-03 11:38] appcapsergen opened #200 "[feature] upgrading packages"
**Is your feature request related to a problem? Please describe.**
To use livekit_client, one must downgrade connectivity_plus and device_info_plus to use it.

**Describe the solution you'd like**
Upgrading connectivity_plus and device_info_plus packages.

[2022-11-03 11:47] cloudwebrtc commented on #199
Currently, we can only use mirror rendering when displaying the local front camera, but we cannot mirror the captured video and send it to the far end, which is a video processing feature.

[2022-11-03 13:16] fpasalioglu commented on #199
Will there be a work around for this? Mirroring feature is important to us.

[2022-11-04 15:22] jdde commented on #199
@fpasalioglu try sending a custom event via data channel to all participants, fetch it and render the received video mirror'd on UI level ;)

[2022-11-04 18:03] fpasalioglu commented on #199
@jdde It's a sensible solution. Thanks.
How can I mirror the image? I am using ParticipantWidget.widgetFor()

[2022-11-04 18:29] fpasalioglu commented on #199
I solved mirroring with Transform. Thanks for your opinion.

[2022-11-05 07:50] #199 closed

[2022-11-06 10:45] jdde commented on #199
@fpasalioglu Awesome!
That's definitely a possible solution.

I just checked our implementation - and I can definitely recommend to not use .widgetFor() for such flexible cases.
In our case, we just grab published video tracks from the participant via participant.getTrackPublicationBySource - with that track object, you can simply use the livekit_client-1.1.7/lib/src/widgets/video_track_renderer.d

[2022-11-06 10:48] jdde commented on #200
@appcapsergen did you tried a dependency_overrides in your pubspec?
Is livekit really not working with that newer version or is it jus pointing to a differen patch version?

Could be a temporary solution for your problem

[2022-11-06 12:22] fpasalioglu commented on #199
Thank you for your recommendation. I changed it as you said. This is a more efficient way.

[2022-11-06 21:57] davidzhao opened #201 "[feature] expose raw audio and video data"
**Is your feature request related to a problem? Please describe.**

Users would like to record audio and video locally in addition to publishing to the server. Currently audio and video data are not being exposed locally.

**Describe the solution you'd like**

When bytes are generated, we should expose a callback to receive the streams.

[2022-11-07 15:19] appcapsergen commented on #200
@jdde There is a dependency mismatch, yes.
My project uses the newest version of device_info_plus (8.0.0) for example, while livekit_client uses version 6.0.0 of device_info_plus. This made me have to downgrade to 6.0.0 as well.

[2022-11-08 02:34] Sang-Nguyen-Sunny opened #202 "[Question] How can I check if the livekit is still connected or not?"
Is there a way to check if the socket is still running?
Is there a way to check if the room in the livekit is disconnected, remove it completely to open a new connection?

I am having 1 problem, when opening livekit connection, the call works normally. But there are cases, when closing the connection fails without disconnecting, it runs in the background. When opening a new connection, the new con

[2022-11-08 02:59] cloudwebrtc commented on #202
you can check `room.connectionState`

[code]

[2022-11-08 03:19] cloudwebrtc commented on #202
You can check `room.connectionState == connectionState `

You can listen to the RoomDisconnectedEvent/RoomReconnectedEvent in the event

This is a should resume-connect/full-reconnect issue, which will be fixed in this PR https://github.com/livekit/client-sdk-flutter/pull/194

[2022-11-09 01:54] cloudwebrtc commented on #198
Added some notice to README.
https://github.com/livekit/client-sdk-flutter#desktopwindowsmacos

[2022-11-09 01:54] #198 closed

[2022-11-09 02:00] cloudwebrtc commented on #189
fixed https://github.com/livekit/client-sdk-flutter/pull/194

[2022-11-09 02:00] #189 closed

[2022-11-09 03:39] #202 closed

[2022-11-09 15:22] stefanodefilippo opened #204 "[bug] [Web, Safari/Chrome on IOS] error publishing audio/video track on IOS 14"
**Describe the bug**
Lunching my flutter web app (the same with the example client app) on IOS 14.5.1 using Safari or Chrome browser, after calling room.localParticipant?.setCameraEnabled(true) or room.localParticipant?.setMicrophoneEnabled(true) I get the following error:

[Retry] Caught error InvalidAccessError: Failed to set remote answer sdp: The order of m-lines in answer doesn't match order

[2022-11-09 16:38] cloudwebrtc commented on #204
okay, the m-lines mismatch, Did you deploy the flutter web app using https? Another question, can your flutter web app get the mic/cam correctly and show the preview?

[2022-11-09 16:44] stefanodefilippo commented on #204
Yes, it's deployed using https. The local stream sometimes is never show and sometimes it is shown for 4-5 seconds before disappearing.
Same issue with the example client app.

[2022-11-09 16:50] cloudwebrtc commented on #204
Might need to print out your sdp to see what went wrong when negotiating

[2022-11-09 17:12] stefanodefilippo commented on #204
Please find full logs here:

[Log] Flutter Web Bootstrap: Auto (main.dart.js, line 41941)
[Log] Connecting with url: ****, token: ****... (main.dart.js, line 41941)
[Log] 18:04:37: Engine ConnectionState disconnected -> connecting (main.dart.js, line 41941)
[Log] 18:04:37: SignalClient connecting with url: ****/rtc?access_token=****&auto_subscribe=1&adaptive_stream=1&protocol=8&sdk=flutter&version

[2022-11-09 20:40] daniloapr opened #205 "[bug] Video now showing from remote participants"
**Describe the bug**
Recently, the `subscribe` field from the `RemoteParticipant.videoTracks` has been returning `false`. I know the participant is subscribed because I can hear the audio track. even though the participant is subscribed. When trying to render this video track, the video is not shown on VideoTrackRenderer widget. Any ideas on what could be the cause?

**To Reproduce**

1. Connect t

[2022-11-09 23:30] daniloapr commented on #205
I figured out that this was a problem in our app, and not with the Livekit client. I'm closing the issue.

[2022-11-09 23:30] #205 closed

[2022-11-10 12:46] janoskranczler opened #206 "[bug][iOS] Hardware.onDeviceChange stream is updated occasionally"
`Hardware.onDeviceChange` StreamController is only updated occasionally.

I've debugged it and found that for some reason the `FlutterWebRTCEventChannel.handleEvents` StreamController not updated on every audio device change: https://github.com/flutter-webrtc/flutter-webrtc/blob/1dcb8223355dc58db0852e2df19f8514e9b4cd0d/lib/src/native/event_channel.dart#L15-L16

**To Reproduce**
1. Use a physical d

[2022-11-10 13:29] cloudwebrtc commented on #196
I debugged the libwebrtc code, when executing `track.mute`, we just did `track.enabled = false`, and did not turn off the microphone capture, so we need to use `unpublish` to really terminate the local track, and the microphone indicator should not be shown.

[2022-11-10 13:35] cloudwebrtc commented on #206
The onDeviceChange event should be fired when a new device is connected or an old device is disconnected.

https://github.com/flutter-webrtc/flutter-webrtc/blob/main/common/darwin/Classes/FlutterWebRTCPlugin.m#L139-L143

[2022-11-10 17:30] davidzhao commented on #196
@cloudwebrtc we handle this in the JS SDK by stopping the underlying track when muted:

https://github.com/livekit/client-sdk-js/blob/main/src/room/track/LocalAudioTrack.ts#L44

I wonder if we can perform a similar operation for Flutter.

[2022-11-10 23:59] cloudwebrtc commented on #196
@davidzhao thanks, I have fixed this issue with your prompt,  Tested it on iPhone.

[2022-11-11 15:53] janoskranczler opened #208 "[bug][android] Hardware.audioOutputs not listing any bluetooth device"
Using `Hardware.instance.audioOutputs()` not listing connected bluetooth devices on Android. I've tested it on two different bluetooth headsets without success.

**To Reproduce**
1. Use a physical android device
2. Connect a bluetooth headset (audio output)
3. Check the result of  `Hardware.instance.audioOutputs()` method

**Expected behavior**
The returned device list contains the connected bluet

[2022-11-11 17:49] janoskranczler commented on #204
I also experienced this issue. Here are my logs:

[code]

[2022-11-12 08:14] fpasalioglu commented on #189
@cloudwebrtc There is no problem in switching quickly between connections. However, when there is a delay of 2 seconds when switching from Cellular data to Wifi connection, the broadcaster's connection is disconnected.
Can we get it reconnected in delays in network transitions?

[2022-11-14 08:28] echo-LuGuang commented on #208
Permission is OK
![image](https://user-images.githubusercontent.com/50095011/201611059-10f1d3b6-bad8-4dcf-b71e-66f736081168.png)

The code is as follows
![image](https://user-images.githubusercontent.com/50095011/201611261-9699ee2b-5bfb-4b15-8706-b6f9020f3cdc.png)

log
![image](https://user-images.githubusercontent.com/50095011/201611472-0daa19fe-c87b-408b-ba45-5e5f421b9eef.png)

[2022-11-14 11:13] #196 closed

[2022-11-14 11:29] cloudwebrtc commented on #204
@janoskranczler @stefanodefilippo hey guys, can you tell me which version of livekit-server you are using?

[2022-11-14 15:39] janoskranczler commented on #204
@cloudwebrtc It was `1.2.3`.

[2022-11-17 19:56] furkanKotic opened #210 "Broadcast a processed video"
Can the broadcaster broadcast a processed video instead of the video from the camera?

For example, if we want to broadcast an video from the Broadcaster's camera with a logo on one corner, how can we send this resource to the livekit?

[2022-11-21 03:21] cloudwebrtc opened #212 "Report reason for signaling connection failure."
The cloud user reports that the connection failed, but the reason cannot be located from the log, for example, the token expired or invalid. However, the client SDK did not return for these reasons, making it difficult to locate the issues.

[2022-11-21 05:24] davidzhao commented on #212
We should call the /rtc/validate HTTP function and return errors from there. JS client does it [here](https://github.com/livekit/client-sdk-js/blob/main/src/api/SignalClient.ts#L213)

[2022-11-22 13:11] rokk4 commented on #115
@vishal-android-freak  Did you solve the issue?

@cloudwebrtc Do you have any idea what could be going on?

[2022-11-24 13:09] appcapsergen opened #213 "[bug]"
**Describe the bug**
Sometimes, after calling `await room.disconnect()` and afterwards going into the room in the exact same way, the URL used to connect gets malformed and it fails to connect.

For example;
If the URL is `wss://www.someurl.com/rtc?access_token=...`
It would get transformed into `www.someurl.com:0/rtc?access_token=...`
The `wss//` gets removed and a `:0` gets added after the URL.

[2022-11-25 15:13] BenCherif commented on #200
any updates ?

[2022-11-28 12:48] BenCherif opened #215 "[bug] Member not found: 'vpn'."
**Describe the bug**
When i try to run the app while building the app it shows this error .i think the problem comes from the package connectivity_plus
.I've face this issue on last version also in the preview version (1.1.8)

**Platform information**
.pub-cache/hosted/pub.dartlang.org/livekit_client-1.1.9/lib/src/utils.dart:315:31: Error: Member not found: 'vpn'.
      case ConnectivityResult.vpn

[2022-11-29 11:01] #215 closed